<!DOCTYPE html>

{% extends '../layout/base.html' %}

{% load static %}

{% block sidebar %}
  {% include '../element/sidebar.html' %}
{% endblock %}

{% block content %}
  {% block header %}
    {% include '../element/header.html' %}
  {% endblock %}

  <div class="page-wrapper">
    {% block pageheader %}
      {% include '../element/pageheader.html' %}
    {% endblock %}

    {% block main_content %}
      <div class="page-body">
        <div class="container-xl">
          {% if messages %}

          {% include "../element/alert-sucess.html" %}
          {% endif %}
          <div class="row row-cards mb-5">
           
            <div class="col-xxl-3 col-lg-7 col-md-7 col-sm-12">
              <div class="card bg-primary-lt">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3 col-sm-3 d-flex align-items-start">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" 
                      stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="img-fluid">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 21l18 0"></path>
                        <path d="M9 8l1 0"></path>
                        <path d="M9 12l1 0"></path>
                        <path d="M9 16l1 0"></path>
                        <path d="M14 8l1 0"></path>
                        <path d="M14 12l1 0"></path>
                        <path d="M14 16l1 0"></path>
                        <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16"></path>
                      </svg>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9"> 
                      <div>
                        <h2 class="card-title text-center h2">{{procedencias_data.name}}</h2>
                      </div>
                  

                      <div class="mb-2">
                        <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                            <path d="M9 9l1 0"></path>
                            <path d="M9 13l6 0"></path>
                            <path d="M9 17l6 0"></path>
                         </svg>
                       <strong>Especie: </strong> {{procedencias_data.especie}}
                      </div>

                      <div class="mb-2">
                        <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                            <path d="M9 9l1 0"></path>
                            <path d="M9 13l6 0"></path>
                            <path d="M9 17l6 0"></path>
                         </svg>
                       <strong>Origen: </strong> {{ procedencias_data.origen }}
                      </div>

                      <div class="mb-2">
                        <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                          <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                          <path d="M9 9l1 0"></path>
                          <path d="M9 13l6 0"></path>
                          <path d="M9 17l6 0"></path>
                       </svg>
                       <strong>Mejora: </strong> {{ procedencias_data.mejora }}
                      </div>


                      <div class="mb-2">
                        <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                            <path d="M9 9l1 0"></path>
                            <path d="M9 13l6 0"></path>
                            <path d="M9 17l6 0"></path>
                         </svg>
                       <strong>Vivero: </strong> {{procedencias_data.vivero}}
                        </div>

                        <div class="mb-2">
                          <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                              <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                              <path d="M9 9l1 0"></path>
                              <path d="M9 13l6 0"></path>
                              <path d="M9 17l6 0"></path>
                           </svg>
                         <strong>Material: </strong> {{procedencias_data.material}}
                          </div>

                    </div>
                  </div>
                </div>
              </div>

             
            </div>

            <div class="col-xxl-9 col-lg-12 col-md-12 col-sm-12 mt-3">

              <div class="row row-cards">

                <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 md-mt-1">
                  <div class="card card-sm md-mt-1">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                              <path d="M12 4v16" /><path d="M4 15h8" />
                              <path d="M12 12h8" /><path d="M16 12v8" />
                              <path d="M16 16h4" /></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div class="font-weight-medium">
                            Cantidad de Rodales
                          </div>
                          <div class="text-secondary">
                            {{total_rodales}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               
              </div>

              <div class="row mt-7">

                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Rodales</h3>
                  </div>
                  <div class="card-body" style="max-height: 700px; overflow-y: auto;">
          
                    <div id="" class="table-responsive">
                      <table id="tabladata" class="table table-bordered table-hover dataTable sm-table-text">
                        <thead>
                          <tr>
                            <th class="dt-center align-middle"></th>
                            <th class="dt-center align-middle">Procedencia</th>
                            <th class="dt-center align-middle">Código SAP/Nombre</th>
                            <th class="dt-center align-middle">Campo</th>
                            <th class="dt-center align-middle">Uso</th>
                            <th class="dt-center align-middle">Empresa</th>
                          
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          {% for rodal in rodales %}
                              <tr> 
                        
                                  <td class="dt-center align-middle"> 
                                      <div class="mr-3">
                                        <a href="{% url 'rodales-view' idrodal=rodal.pk %}" class="btn btn-twitter btn-icon" aria-label="Button" attr="{{rodal.pk}}">
                                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                            <path d="M12 4v16" /><path d="M4 15h8" />
                                            <path d="M12 12h8" /><path d="M16 12v8" />
                                            <path d="M16 16h4" />
                                         </svg>
                                        </a>
                                      </div>
                                  </td>

                                  <td class="dt-center align-middle text-pink">{{procedencias_data.name}}</td>
      
                                  {% if rodal.is_sap%}
                                    <td class="dt-center align-middle"> 
                                      <a href={% url 'rodales-view' idrodal=rodal.pk %}>
                                        {{ rodal.cod_sap }}
                                      </a>
                                      </td>
                                  {% else %}
                                    <td class="dt-center align-middle"> {{ rodal.cod_sap }}</td>
                                  {% endif%}
      
                                  <td class="dt-center align-middle">{{ rodal.campo }}</td>
                                  <td class="dt-center align-middle text-green">{{ rodal.usos_rodales.name }}</td>
                                  <td class="dt-center align-middle">
                                    <a href={% url 'empresas-view' id=rodal.empresa.pk %}>
                                      {{ rodal.empresa.name }}
                                    </a>
                                    
                                  </td>

                              
                                
                                 
                              </tr>
                          
                          {% endfor %}
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

          
              </div>


             
            </div>
          </div>

          <div class="row row-cards col-lg-12 col-md-12 col-sm-12 mb-5">

          </div>

        </div>
      </div>
    {% endblock %}

    <script>
      $(function () {
          $('#tabladata').DataTable({
              "paging": true,
              "lengthChange": false,
              "searching": true,
              "ordering": true,
              "info": true,
              "autoWidth": false,
              "responsive": false,
              "pageLength": 10,
              order: [[2, 'desc']],
              language: {
                  url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
              }
          });
  
      })
  </script>

  <script>
    $(function () {
        $('#tabladata2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": false,
            "pageLength": 10,
            order: [[2, 'desc']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
            }
        });

    })
</script>
  </div>

{% endblock %}