<!DOCTYPE html>

{% extends '../../layout/base.html' %}

{% load static %}

{% block sidebar %}
  {% include '../../element/sidebar.html' %}
{% endblock %}

{% block content %}
  {% block header %}
    {% include '../../element/header.html' %}
  {% endblock %}

  <div class="page-wrapper">
    {% block pageheader %}
      {% include '../../element/pageheader.html' %}
    {% endblock %}

    {% block main_content %}
      <div class="page-body">
        <div class="container-xl">
          {% if messages %}

          {% include "../../element/alert-sucess.html" %}
          {% endif %}
          <div class="row">
            <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card bg-primary-lt">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3 col-sm-3 d-flex align-items-start">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        class="xxl-svg-icon lg-svg-icon md-svg-icon sm-svg-icon"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="img-fluid">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M3 21l18 0"></path>
                          <path d="M9 8l1 0"></path>
                          <path d="M9 12l1 0"></path>
                          <path d="M9 16l1 0"></path>
                          <path d="M14 8l1 0"></path>
                          <path d="M14 12l1 0"></path>
                          <path d="M14 16l1 0"></path>
                          <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16"></path>
                        </svg>
                      </div>
                      <div class="col-lg-10 col-md-9 col-sm-9"> 
                        <div>
                          <h2 class="card-title text-center h2">Movimiento de Expediente</h2>
                        </div>
                        <div class="mb-2">
                          <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-3d-cube-sphere" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M6 17.6l-2 -1.1v-2.5"></path>
                              <path d="M4 10v-2.5l2 -1.1"></path>
                              <path d="M10 4.1l2 -1.1l2 1.1"></path>
                              <path d="M18 6.4l2 1.1v2.5"></path>
                              <path d="M20 14v2.5l-2 1.12"></path>
                              <path d="M14 19.9l-2 1.1l-2 -1.1"></path>
                              <path d="M12 12l2 -1.1"></path>
                              <path d="M18 8.6l2 -1.1"></path>
                              <path d="M12 12l0 2.5"></path>
                              <path d="M12 18.5l0 2.5"></path>
                              <path d="M12 12l-2 -1.12"></path>
                              <path d="M6 8.6l-2 -1.1"></path>
                           </svg>
                         <strong>Nombre: </strong> {{ movimiento.name }}
                        </div>
    
                        <div class="mb-2">
                          <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
                              <path d="M16 3v4"></path>
                              <path d="M8 3v4"></path>
                              <path d="M4 11h16"></path>
                              <path d="M11 15h1"></path>
                              <path d="M12 15v3"></path>
                           </svg>
                         <strong>Fecha: </strong> {{ movimiento.created }}
                        </div>
    
                      
    
    
                        <div class="mb-2">
                          <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                              <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                              <path d="M9 9l1 0"></path>
                              <path d="M9 13l6 0"></path>
                              <path d="M9 17l6 0"></path>
                           </svg>
                         <strong>Expediente: </strong> <a href="" class="fw-bold"> {{ expediente.name }}  </a>
                        </div>
    
    
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-xxl-8 col-lg-8 col-md-12 col-sm-12 lg-mt-3 -mt-3" style="min-height: 200px;">
    
                <div class="card" style="min-height: 500px;">
                  <div class="card-body">

                    <h2> Descripción del Movimiento del Expediente </h2>

                    <p> {{ movimiento.description }} </p>
                   
                  </div>
                </div>
    
              </div>

          </div>


          <div class="row mt-5">
            <div class="hr-text mt-7">Archivos</div>
  
              <div class="row row-cards col-lg-12 col-md-12 col-sm-12 mb-5">
                  <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 d-xxl-block d-lg-none d-md-none d-sm-none">
                    <div class="mb-3 d-flex justify-content-end">
                      <a href="{% url 'expedientes-view-upload-files' idmovimiento=movimiento.pk %}" class="btn btn-success" aria-label="Button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-upload" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                          <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                          <path d="M12 11v6"></path>
                          <path d="M9.5 13.5l2.5 -2.5l2.5 2.5"></path>
                       </svg> Subir Archivo</a>
                 
      
                  </div>
                </div>
            <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12">

                <div class="row row-cards col-lg-12 col-md-12 col-sm-12 mb-5 lg-mt-3 md-mt-3 sm-mt-3">
                  <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 d-xxl-none d-lg-block">
                    <div class="mb-3 d-flex justify-content-start">
                      <a href="" class="btn btn-success" aria-label="Button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-upload" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                          <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                          <path d="M12 11v6"></path>
                          <path d="M9.5 13.5l2.5 -2.5l2.5 2.5"></path>
                       </svg> Subir Archivo</a>
                 
      
                  </div>
                </div>
               
                  <div class="card min-vh-75 max-vh-75">
                      <div class="card-body" style="overflow: auto;">
                        <td class="dt-center align-middle"> 
                        <div class="row">
                          <div class="col-lg-6 col-xl-6">
                              <h4 class="header-title m-b-30">Archivos Sagpyas</h4>
                          </div>
            
                          <div class="row">
                            {% for file_ in files_mov %}
  
                            <div class="col-lg-3 col-xl-2">
                                <div class="file-man-box"><a href="" class="file-close"><i class="fa fa-times-circle"></i></a>
                                    <div class="file-img-box">
                                      <a href="{% url 'download-files-sagpyas' id=1 %} " target="_blank">
  
                                        {% if file_.type == 'pdf' %}
  
                                          <img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/pdf.svg" alt="icon">
                                        {% elif file_.type == 'png' %}
                                        <img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/png.svg" alt="icon">
  
                                        {% elif file_.type == 'jpg' or file_.type == 'jpeg' %}
                                        <img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/jpg.svg" alt="icon">
                              
                                        {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /></svg>
                                       
                                        {% endif %}
                                      
                                      </a>
                                    </div>
                                    <p class="small text-overflow mb-0">{{ file_.name }}</p>
                                      <i class="fa fa-download"></i></a>
                                    <div class="file-man-title">
                                        <p class="mb-0"><small>{{file_.size }} kb</small></p>
                                    </div>
  
                           
                                    <div class="mt-2">
                                        <a href="{% url 'view-details-file-movimientos' idmovimiento=file_.pk %}" class="btn btn-block btn-twitter w-100" aria-label="Button">
                                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                            <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                                         </svg>
                                         </svg> Ver</a>
                                   
                                    </div>
                          
                                </div>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                  </div>

                  

            
      
              </div>

              <div class="row row-cards col-lg-12 col-md-12 col-sm-12 mb-5">
                <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 d-xxl-block d-lg-none d-md-none d-sm-none">
                  <div class="mb-3 d-flex justify-content-start">
                    <a href="{% url 'expedientes-view' idexpediente=movimiento.expediente.pk %}" 
                    class="btn btn-dark mt-7" aria-label="Button">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-left-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9.586 4l-6.586 6.586a2 2 0 0 0 0 2.828l6.586 6.586a2 2 0 0 0 2.18 .434l.145 -.068a2 2 0 0 0 1.089 -1.78v-2.586h7a2 2 0 0 0 2 -2v-4l-.005 -.15a2 2 0 0 0 -1.995 -1.85l-7 -.001v-2.585a2 2 0 0 0 -3.414 -1.414z" stroke-width="0" fill="currentColor" />
                      </svg> Volver</a>
               
    
                </div>
              </div>
  
              
  
          
            </div>

          
          </div>

          
         


           

        </div>
      </div>
    {% endblock %}
  </div>

  <script src="{% static '/dist/libs/dropzone/dist/dropzone-min.js' %}"></script>
  <script>
   
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function() {
      myDropzone = new Dropzone("#dropzone-default-sagpyas", {
        addRemoveLinks: true,
        url: '../../upload-files-sagpyas',
        maxFiles: 1,
        acceptedFiles   : "image/*,application/pdf",
        dictRemoveFileConfirmation: "Esta seguro?",
        autoProcessQueue: false,

        init: function() {
            this.on("addedfile", function() {
             
              if (this.files[1]!=null){
                this.removeFile(this.files[1]);
              }
              //console.log(this.files);
            });

            var myDropzone_sagpya = this;

            $("#button-send").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                myDropzone_sagpya.processQueue();
                //console.log(this.files);
             
            });

          

          },
        sending: function(file, xhr, formData) {

            let sagpyas_id = document.getElementById('sagpyas_id').value;

            console.log(formData); // -> {}
            formData.append('sagpyas_id', sagpyas_id);
            console.log(formData); // -> {}
        }, 
        success: function(file, response){
            if(response.respuesta == true){

                setTimeout(() => {
                    location.reload();
                }, 5000);
               
            }

        
         //
        }

      })
    })
  </script>
{% endblock %}
