{% extends '../layout/base.html' %}

{% load static %}

{% block sidebar %}
  {% include '../element/sidebar.html' %}
{% endblock %}

{% block content %}
  {% block header %}
    {% include '../element/header.html' %}
  {% endblock %}

  <div class="page-wrapper">
    {% block pageheader %}
      {% include '../element/pageheader.html' %}
    {% endblock %}

    {% block main_content %}
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-cards mb-5">
            <div class="col-md-3 col-lg-3">
              <div class="card bg-primary-lt">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8"></path>
                        <path d="M13 7l0 .01"></path>
                        <path d="M17 7l0 .01"></path>
                        <path d="M17 11l0 .01"></path>
                        <path d="M17 15l0 .01"></path>
                     </svg>
                    </div>
                    <div class="col-md-8">
                      <h3 class="card-title">Sección de Administración de Empresas</h3>
                      <p class="text-muted">En esta sección puede agregar una Empresa.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-lg-9">
              <div class="card">
                <div class="card-status-top bg-blue"></div>
                <div class="card-header">
                  <h3 class="card-title">Nueva Empresa</h3>
                </div>
                <div class="card-body">
                  <div class="row justify-content-center flex-column align-items-center">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <form action="{% url 'empresas-add' %}" method="POST">
                        {% csrf_token %}

                        <div class="mb-4">
                          <label class="form-label required">Nombre:</label>
                          <select type="text" class="form-select" name="select-empresa" id="select-empresa" required value="">
                            {% for index, value in empresa_sap %}
                              <option value="{{ index }}">{{ value }}</option>
                            {% endfor %}
                          </select>
                        </div>
              
                        <div class="mb-4">
                          <label class="form-label required">Dirección:</label>
                          <input type="text" class="form-control" placeholder="Dirección" name="address" id="address"/>
                        </div>
                        <div class="mb-4">
                          <label class="form-label required">Teléfono:</label>
                          <input type="text" class="form-control" placeholder="Teléfono" name="phone" id="phone"/>
                        </div>
                        <div class="mb-4">
                          <label class="form-label required">Correo Electrónico:</label>
                          <input type="email" class="form-control" placeholder="correoelectronico@email.com" name="email" id="email"/>
                        </div>
            
                        <div class="mb-4">
                          <label class="form-label required">CUIT:</label>
                          <input type="text" class="form-control" placeholder="CUIT" autocomplete="off" name="cuit" id="cuit" />
                        </div>
                       

                        <div class="form-footer">
                          <a href="{% url 'empresas-index' %}" class="btn btn-dark" aria-label="Button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-left-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M9.586 4l-6.586 6.586a2 2 0 0 0 0 2.828l6.586 6.586a2 2 0 0 0 2.18 .434l.145 -.068a2 2 0 0 0 1.089 -1.78v-2.586h7a2 2 0 0 0 2 -2v-4l-.005 -.15a2 2 0 0 0 -1.995 -1.85l-7 -.001v-2.585a2 2 0 0 0 -3.414 -1.414z" stroke-width="0" fill="currentColor" />
                            </svg> Volver</a>
                          <button type="submit" class="btn btn-primary pull-right"> 
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M12 5l0 14"></path>
                              <path d="M5 12l14 0"></path>
                           </svg> Nuevo</button>
                        </div>
                      </form>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6 mt-4">
                      <div class="mb-4">
                        {% if messages %}
                          <div class="messages">
                            {% for message in messages %}
                              <div class="alert alert-danger">
                                <div>
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-exclamation-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                    <path d="M12 9v4"></path>
                                    <path d="M12 16v.01"></path>
                                  </svg>
                                  {{ message }}
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="{% static 'dist/libs/nouislider/dist/nouislider.min.js' %}"></script>
      <script src="{% static 'dist/libs/litepicker/dist/litepicker.js' %}"></script>
      <script src="{% static 'dist/libs/tom-select/dist/js/tom-select.base.min.js' %}"></script>

      <script>
        // @formatter:off
       

        document.addEventListener('DOMContentLoaded', function () {
          var el
          window.TomSelect &&
            new TomSelect((el = document.getElementById('select-empresa')), {
              copyClassesToDropdown: false,
              dropdownParent: 'body',
              controlInput: '<input>',
              render: {
                item: function (data, escape) {
                  if (data.customProperties) {
                    return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>'
                  }
                  return '<div>' + escape(data.text) + '</div>'
                },
                option: function (data, escape) {
                  if (data.customProperties) {
                    return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>'
                  }
                  return '<div>' + escape(data.text) + '</div>'
                }
              }
            })
        })

    

        // @formatter:on
      </script>
     

    {% endblock %}
  </div>
{% endblock %}
