/venv
/logs
*.pyc
pindosystem/__pycache__/*.pyc
pindosystem/__pycache__/context_processors.cpython-310.pyc
pindosystem/__pycache__/settings.cpython-310.pyc
pindosystem/__pycache__/urls.cpython-310.pyc
pindosystem/__pycache__/wsgi.cpython-310.pyc
pindosystem/apps/__pycache__/general_utility.cpython-310.pyc
pindosystem/apps/api/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/api/__pycache__/admin.cpython-310.pyc
pindosystem/apps/api/__pycache__/apps.cpython-310.pyc
pindosystem/apps/api/__pycache__/models.cpython-310.pyc
pindosystem/apps/api/__pycache__/urls.cpython-310.pyc
pindosystem/apps/api/__pycache__/utility.cpython-310.pyc
pindosystem/apps/api/__pycache__/views.cpython-310.pyc
pindosystem/apps/api/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/configuration/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/configuration/__pycache__/admin.cpython-310.pyc
pindosystem/apps/configuration/__pycache__/apps.cpython-310.pyc
pindosystem/apps/configuration/__pycache__/forms.cpython-310.pyc
pindosystem/apps/configuration/__pycache__/models.cpython-310.pyc
pindosystem/apps/configuration/__pycache__/serializers.cpython-310.pyc
pindosystem/apps/configuration/__pycache__/urls.cpython-310.pyc
pindosystem/apps/configuration/__pycache__/utility.cpython-310.pyc
pindosystem/apps/configuration/__pycache__/views.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0002_initial.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0003_alter_categoriascapas_name.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0004_alter_tilelayerwms_layer_name.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0005_tilelayerwms_max_x_tilelayerwms_max_y_and_more.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0006_alter_tilelayerwms_max_x_alter_tilelayerwms_max_y_and_more.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0007_alter_capasbasesdefault_capabase.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0008_alter_capasbasesdefault_capabase.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0009_alter_capasbasesdefault_capabase.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0010_alter_capasbases_name.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0011_categoriasmateriales_subcategoriasmateriales_and_more.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0012_remove_materialessap_categorias_materiales.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0013_alter_materialessap_subcategorias_materiales.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0014_alter_materialessap_maktx_alter_materialessap_matnr.cpython-310.pyc
pindosystem/apps/configuration/migrations/__pycache__/0015_alter_materialessap_maktx.cpython-310.pyc
pindosystem/apps/empresas/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/empresas/__pycache__/admin.cpython-310.pyc
pindosystem/apps/empresas/__pycache__/apps.cpython-310.pyc
pindosystem/apps/empresas/__pycache__/models.cpython-310.pyc
pindosystem/apps/empresas/__pycache__/urls.cpython-310.pyc
pindosystem/apps/empresas/__pycache__/utility.cpython-310.pyc
pindosystem/apps/empresas/__pycache__/views.cpython-310.pyc
pindosystem/apps/empresas/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/empresas/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/empresas/migrations/__pycache__/0002_empresas_sap_id.cpython-310.pyc
pindosystem/apps/empresas/migrations/__pycache__/0003_alter_empresas_name_alter_empresas_sap_id.cpython-310.pyc
pindosystem/apps/empresas/migrations/__pycache__/0004_alter_empresas_sap_id.cpython-310.pyc
pindosystem/apps/emsefor/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/emsefor/__pycache__/admin.cpython-310.pyc
pindosystem/apps/emsefor/__pycache__/apps.cpython-310.pyc
pindosystem/apps/emsefor/__pycache__/models.cpython-310.pyc
pindosystem/apps/emsefor/__pycache__/urls.cpython-310.pyc
pindosystem/apps/emsefor/__pycache__/utility.cpython-310.pyc
pindosystem/apps/emsefor/__pycache__/views.cpython-310.pyc
pindosystem/apps/emsefor/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/emsefor/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/emsefor/migrations/__pycache__/0002_emsefor_sap_id.cpython-310.pyc
pindosystem/apps/gis_pindo/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/gis_pindo/__pycache__/admin.cpython-310.pyc
pindosystem/apps/gis_pindo/__pycache__/apps.cpython-310.pyc
pindosystem/apps/gis_pindo/__pycache__/models.cpython-310.pyc
pindosystem/apps/gis_pindo/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/gis_pindo/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/gis_pindo/migrations/__pycache__/0002_initial.cpython-310.pyc
pindosystem/apps/gis_pindo/migrations/__pycache__/0003_initial.cpython-310.pyc
pindosystem/apps/gis_pindo/migrations/__pycache__/0004_podaintervenciongis_name_raleointervenciongis_name_and_more.cpython-310.pyc
pindosystem/apps/gispage/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/gispage/__pycache__/admin.cpython-310.pyc
pindosystem/apps/gispage/__pycache__/apps.cpython-310.pyc
pindosystem/apps/gispage/__pycache__/models.cpython-310.pyc
pindosystem/apps/gispage/__pycache__/serializers.cpython-310.pyc
pindosystem/apps/gispage/__pycache__/urls.cpython-310.pyc
pindosystem/apps/gispage/__pycache__/views.cpython-310.pyc
pindosystem/apps/gispage/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/home/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/home/__pycache__/admin.cpython-310.pyc
pindosystem/apps/home/__pycache__/apps.cpython-310.pyc
pindosystem/apps/home/__pycache__/models.cpython-310.pyc
pindosystem/apps/home/__pycache__/urls.cpython-310.pyc
pindosystem/apps/home/__pycache__/views.cpython-310.pyc
pindosystem/apps/home/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/intervenciones/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/intervenciones/__pycache__/admin.cpython-310.pyc
pindosystem/apps/intervenciones/__pycache__/apps.cpython-310.pyc
pindosystem/apps/intervenciones/__pycache__/models.cpython-310.pyc
pindosystem/apps/intervenciones/__pycache__/serializers.cpython-310.pyc
pindosystem/apps/intervenciones/__pycache__/urls.cpython-310.pyc
pindosystem/apps/intervenciones/__pycache__/utility.cpython-310.pyc
pindosystem/apps/intervenciones/__pycache__/views.cpython-310.pyc
pindosystem/apps/intervenciones/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/intervenciones/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/intervenciones/migrations/__pycache__/0002_initial.cpython-310.pyc
pindosystem/apps/intervenciones/migrations/__pycache__/0003_intervenciones_planificacion_inter.cpython-310.pyc
pindosystem/apps/intervenciones/migrations/__pycache__/0004_alter_intervenciones_type.cpython-310.pyc
pindosystem/apps/login/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/login/__pycache__/admin.cpython-310.pyc
pindosystem/apps/login/__pycache__/apps.cpython-310.pyc
pindosystem/apps/login/__pycache__/models.cpython-310.pyc
pindosystem/apps/login/__pycache__/urls.cpython-310.pyc
pindosystem/apps/login/__pycache__/views.cpython-310.pyc
pindosystem/apps/login/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/login/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/maquinas/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/maquinas/__pycache__/admin.cpython-310.pyc
pindosystem/apps/maquinas/__pycache__/apps.cpython-310.pyc
pindosystem/apps/maquinas/__pycache__/forms.cpython-310.pyc
pindosystem/apps/maquinas/__pycache__/models.cpython-310.pyc
pindosystem/apps/maquinas/__pycache__/urls.cpython-310.pyc
pindosystem/apps/maquinas/__pycache__/views.cpython-310.pyc
pindosystem/apps/maquinas/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/maquinas/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/planificacion/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/planificacion/__pycache__/admin.cpython-310.pyc
pindosystem/apps/planificacion/__pycache__/apps.cpython-310.pyc
pindosystem/apps/planificacion/__pycache__/models.cpython-310.pyc
pindosystem/apps/planificacion/__pycache__/serializers.cpython-310.pyc
pindosystem/apps/planificacion/__pycache__/urls.cpython-310.pyc
pindosystem/apps/planificacion/__pycache__/views.cpython-310.pyc
pindosystem/apps/planificacion/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/planificacion/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/plantaciones/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/plantaciones/__pycache__/admin.cpython-310.pyc
pindosystem/apps/plantaciones/__pycache__/apps.cpython-310.pyc
pindosystem/apps/plantaciones/__pycache__/models.cpython-310.pyc
pindosystem/apps/plantaciones/__pycache__/serializers.cpython-310.pyc
pindosystem/apps/plantaciones/__pycache__/urls.cpython-310.pyc
pindosystem/apps/plantaciones/__pycache__/views.cpython-310.pyc
pindosystem/apps/plantaciones/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/plantaciones/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/plantaciones/migrations/__pycache__/0002_alter_plantaciones_dist_lineas_and_more.cpython-310.pyc
pindosystem/apps/procedencias/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/procedencias/__pycache__/admin.cpython-310.pyc
pindosystem/apps/procedencias/__pycache__/apps.cpython-310.pyc
pindosystem/apps/procedencias/__pycache__/forms.cpython-310.pyc
pindosystem/apps/procedencias/__pycache__/models.cpython-310.pyc
pindosystem/apps/procedencias/__pycache__/urls.cpython-310.pyc
pindosystem/apps/procedencias/__pycache__/views.cpython-310.pyc
pindosystem/apps/procedencias/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/procedencias/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/procedencias/migrations/__pycache__/0002_procedencias_material.cpython-310.pyc
pindosystem/apps/rodales/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/rodales/__pycache__/admin.cpython-310.pyc
pindosystem/apps/rodales/__pycache__/apps.cpython-310.pyc
pindosystem/apps/rodales/__pycache__/models.cpython-310.pyc
pindosystem/apps/rodales/__pycache__/serializers.cpython-310.pyc
pindosystem/apps/rodales/__pycache__/urls.cpython-310.pyc
pindosystem/apps/rodales/__pycache__/utility.cpython-310.pyc
pindosystem/apps/rodales/__pycache__/views.cpython-310.pyc
pindosystem/apps/rodales/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/rodales/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/rodales/migrations/__pycache__/0002_rodales_objnr.cpython-310.pyc
pindosystem/apps/rodales/migrations/__pycache__/0003_remove_rodales_objnr_rodales_sap_id.cpython-310.pyc
pindosystem/apps/rodales/migrations/__pycache__/0004_rodales_name.cpython-310.pyc
pindosystem/apps/rodales/migrations/__pycache__/0005_alter_rodales_cod_sap_alter_rodales_name_and_more.cpython-310.pyc
pindosystem/apps/rodales/migrations/__pycache__/0006_rodales_is_sap.cpython-310.pyc
pindosystem/apps/rodales_gis/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/rodales_gis/__pycache__/admin.cpython-310.pyc
pindosystem/apps/rodales_gis/__pycache__/apps.cpython-310.pyc
pindosystem/apps/rodales_gis/__pycache__/models.cpython-310.pyc
pindosystem/apps/rodales_gis/__pycache__/serializers.cpython-310.pyc
pindosystem/apps/rodales_gis/__pycache__/utility.cpython-310.pyc
pindosystem/apps/rodales_gis/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/rodales_gis/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/rodales_gis/migrations/__pycache__/0002_rename_area_rodalesgis_superficie.cpython-310.pyc
pindosystem/apps/rodales_gis/migrations/__pycache__/0003_remove_rodalesgis_chacra_remove_rodalesgis_manzana_and_more.cpython-310.pyc
pindosystem/apps/rodales_gis/migrations/__pycache__/0004_remove_rodalesstate_chacra_and_more.cpython-310.pyc
pindosystem/apps/sagpyas/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/sagpyas/__pycache__/admin.cpython-310.pyc
pindosystem/apps/sagpyas/__pycache__/apps.cpython-310.pyc
pindosystem/apps/sagpyas/__pycache__/forms.cpython-310.pyc
pindosystem/apps/sagpyas/__pycache__/models.cpython-310.pyc
pindosystem/apps/sagpyas/__pycache__/serializers.cpython-310.pyc
pindosystem/apps/sagpyas/__pycache__/urls.cpython-310.pyc
pindosystem/apps/sagpyas/__pycache__/utility.cpython-310.pyc
pindosystem/apps/sagpyas/__pycache__/views.cpython-310.pyc
pindosystem/apps/sagpyas/migrations/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/sagpyas/migrations/__pycache__/0001_initial.cpython-310.pyc
pindosystem/apps/sagpyas/migrations/__pycache__/0002_sagpyas_rodales.cpython-310.pyc
pindosystem/apps/sap/__pycache__/__init__.cpython-310.pyc
pindosystem/apps/sap/__pycache__/admin.cpython-310.pyc
pindosystem/apps/sap/__pycache__/apps.cpython-310.pyc
pindosystem/apps/sap/__pycache__/models.cpython-310.pyc
pindosystem/apps/sap/migrations/__pycache__/__init__.cpython-310.pyc
