{% extends '../../layout/base.html' %}

{% load static %}

{% block sidebar %}
  {% include '../../element/sidebar.html' %}
{% endblock %}

{% block content %}
  {% block header %}
    {% include '../../element/header.html' %}
  {% endblock %}

  <div class="page-wrapper">
    {% block pageheader %}
      {% include '../../element/pageheader.html' %}
    {% endblock %}

    {% block main_content %}
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-cards mb-5">
            <div class="col-md-3 col-lg-3  col-sm-12">
              <div class="card bg-primary-lt">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-4">

                      <div class="text-center align-items-center">
                  
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" 
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12h4l3 8l4 -16l3 8h4" /></svg>
                      </div>
                     
                     
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                      <h3 class="card-title">Sección de Administración de Intervenciones</h3>
                      <p class="text-muted">En esta sección puede crear una Intervención (Sobrevivencia).</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-lg-9">
              <div class="card">
                <div class="card-status-top bg-blue"></div>
                <div class="card-header">
                  <h3 class="card-title">Nueva Intervención - Sobrevivencia</h3>
                </div>
                <div class="card-body">
                
                      <form action="{% url 'intervenciones-sobrevivencia-add' idrodal=idrodal %}" method="POST">
                        {% csrf_token %}
                        <div class="row justify-content-around">
                          <div class="col-md-5 col-lg-5 col-sm-5">                
                            <div class="mb-5">
                              <label class="form-label required">Rodal:</label>
                              <select type="text" class="form-select" name="select-rodal" id="select-rodal" required value="" >
                                {% for index, value in rodales %}
                                  <option value="{{ index }}">{{ value }}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <div class="mb-4">
                              <label class="form-label" for="username">Nombre:</label>
                              <input type="text" class="form-control" id="name"  name="name" aria-describedby="name" placeholder="Nombre">
                            </div>

                            <div class="mb-4">
                              <label class="form-label required">Fecha:</label>
                              <div class="input-icon mb-3">
                                <input class="form-control " placeholder="Seleccione una Fecha" id="fecha" name="fecha" required>
                                <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                                </span>
                              </div>
                            </div>

                            <div class="mb-4">
                              <label class="form-label required">Superficie:</label>
                              <input type="number" step="0.01" class="form-control" placeholder="Superficie" required name="superficie" 
                              id="superficie" value="{{superficie}}" />
                            </div>
                     

                            <div class="mb-4">
                              <label class="form-label required">Tamaño de parcela:</label>
                              <input type="number" step="0.01" class="form-control" placeholder="Tamaño de parcela" required name="parcela_size" 
                              id="parcela_size" value="{{arb_podadparcela_sizeos}}" />
                            </div>

                            <div class="mb-4">
                              <label class="form-label required">Parcelas relevadas:</label>
                              <input type="number" step="1" class="form-control" placeholder="Parcelas relevadas" 
                              required name="parcela_relevadas" id="parcela_relevadas" value="{{parcela_relevadas}}" />
                            </div>

                            <div class="mb-4">
                              <label class="form-label required">Plantas vivas:</label>
                              <input type="number" step="1" class="form-control" placeholder="Plantas vivas" 
                              required name="plantas_vivas" id="plantas_vivas" value="{{plantas_vivas}}"/>
                            </div>

                            <div class="mb-4">
                              <label class="form-label required">Plantas muertas:</label>
                              <input type="number" step="1" class="form-control" placeholder="Plantas muertas" 
                              required name="plantas_muertas" id="plantas_muertas" value="{{plantas_muertas}}"/>
                            </div>

                          </div>
                          <div class="col-md-5 col-lg-5 col-sm-5">

                         

                            <div class="mb-4">
                              <label class="form-label required">Daño por herbicida:</label>
                              <input type="number" step="1" class="form-control" placeholder="Daño por herbicida" required name="damage_herbicida" 
                              id="damage_herbicida" value="{{damage_herbicida}}"/>
                            </div>

                            <div class="mb-4">
                              <label class="form-label required">Daño mecánico:</label>
                              <input type="number" step="1" class="form-control" placeholder="Daño mecánico" required name="damage_mecanico" 
                              id="damage_mecanico" value="{{damage_mecanico}}"/>
                            </div>

                            <div class="mb-4">
                              <label class="form-label required">Sobrevicencia (%):</label>
                              <input type="number" step="1" class="form-control" placeholder="Sobrevicencia" required name="sobrevivencia" 
                              id="sobrevivencia" value="{{sobrevivencia}}"/>
                            </div>

                            <div class="mb-4">
                              <label class="form-label" for="username">Reponsable:</label>
                              <input type="text" class="form-control" id="responsable"  name="responsable" aria-describedby="responsable" placeholder="Reponsable">
                            </div>

                            <div class="mb-5">
                              <label class="form-label required">Emsefor:</label>
                              <select type="text" class="form-select" name="select-emsefor" id="select-emsefor" required value="">
                                <option value="">{{ 'Seleccione una Opcion' }}</option>
                                {% for index, value in emsefors %}
                                  <option value="{{ index }}">{{ value }}</option>
                                {% endfor %}
                              </select>
                            </div>


                            <div class="mb-5">
                              <label class="form-label required">Intervenciones Planificadas:</label>
                              <select type="text" class="form-select" name="select-planificacion" id="select-planificacion" required value="">
                                <option value="">{{ 'Seleccione una Opcion' }}</option>
                                {% for index, value in planificacion_inter %}
                                  <option value="{{ index }}">{{ value }}</option>
                                {% endfor %}
                              </select>
                            </div>


                            <div class="form-footer">
                              <a href="{% url 'intervenciones-index' idrodal=idrodal %}" class="btn btn-dark" aria-label="Button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-left-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                  <path d="M9.586 4l-6.586 6.586a2 2 0 0 0 0 2.828l6.586 6.586a2 2 0 0 0 2.18 .434l.145 -.068a2 2 0 0 0 1.089 -1.78v-2.586h7a2 2 0 0 0 2 -2v-4l-.005 -.15a2 2 0 0 0 -1.995 -1.85l-7 -.001v-2.585a2 2 0 0 0 -3.414 -1.414z" stroke-width="0" fill="currentColor" />
                                </svg> Volver</a>
                              <button type="submit" class="btn btn-primary pull-right"> 
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M12 5l0 14"></path>
                                  <path d="M5 12l14 0"></path>
                              </svg> Nuevo</button>
                            </div>

                          </div>
                        </div>
                      </form>
                    

                    <div class="col-md-6 col-lg-6 col-sm-6 mt-4">
                      <div class="mb-4">
                        {% if messages %}
                          <div class="messages">
                            {% for message in messages %}
                              <div class="alert alert-danger">
                                <div>
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-exclamation-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                    <path d="M12 9v4"></path>
                                    <path d="M12 16v.01"></path>
                                  </svg>
                                  {{ message }}
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="{% static 'dist/libs/nouislider/dist/nouislider.min.js' %}"></script>
      <script src="{% static 'dist/libs/litepicker/dist/litepicker.js' %}"></script>
      <script src="{% static 'dist/libs/tom-select/dist/js/tom-select.base.min.js' %}"></script>

      <script src="{% static 'js/plantaciones/plantaciones.js' %}"></script>

      <script>

        document.addEventListener("DOMContentLoaded", function () {
          window.Litepicker && (new Litepicker({
            element: document.getElementById('fecha'),
            lang: 'es-AR',
            format: 'YYYY-MM-DD',
            buttonText: {
              previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
              nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
            },
          }));
        });
        // @formatter:on


       
        document.addEventListener('DOMContentLoaded', function () {
          var el
          window.TomSelect &&
            new TomSelect((el = document.getElementById('select-rodal')), {
              copyClassesToDropdown: false,
              dropdownParent: 'body',
              controlInput: '<input>',
              render: {
                item: function (data, escape) {
                  if (data.customProperties) {
                    return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>'
                  }
                  return '<div>' + escape(data.text) + '</div>'
                },
                option: function (data, escape) {
                  if (data.customProperties) {
                    return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>'
                  }
                  return '<div>' + escape(data.text) + '</div>'
                }
              }
            })
        })
 // @formatter:off

  // @formatter:on

  document.addEventListener('DOMContentLoaded', function () {
    var el
    window.TomSelect &&
      new TomSelect((el = document.getElementById('select-emsefor')), {
        copyClassesToDropdown: false,
        dropdownParent: 'body',
        controlInput: '<input>',
        render: {
          item: function (data, escape) {
            if (data.customProperties) {
              return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>'
            }
            return '<div>' + escape(data.text) + '</div>'
          },
          option: function (data, escape) {
            if (data.customProperties) {
              return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>'
            }
            return '<div>' + escape(data.text) + '</div>'
          }
        }
      })
  })

   // @formatter:off


   document.addEventListener('DOMContentLoaded', function () {
    var el
    window.TomSelect &&
      new TomSelect((el = document.getElementById('select-planificacion')), {
        copyClassesToDropdown: false,
        dropdownParent: 'body',
        controlInput: '<input>',
        render: {
          item: function (data, escape) {
            if (data.customProperties) {
              return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>'
            }
            return '<div>' + escape(data.text) + '</div>'
          },
          option: function (data, escape) {
            if (data.customProperties) {
              return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>'
            }
            return '<div>' + escape(data.text) + '</div>'
          }
        }
      })
  })

      </script>
    {% endblock %}
  </div>
{% endblock %}
