
:root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
    font-feature-settings: "cv03", "cv04", "cv11";
}

.mr-3{
    margin-right: 0.5rem !important;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.min-vh-60 {
    min-height: 60vh !important;
}

.min-vh-75 {
    min-height: 75vh !important;
}
.max-vh-75 {
    max-height: 75vh !important;
}

.min-vh-80 {
    min-height: 80vh !important;
}
.max-vh-80 {
    max-height: 80vh !important;
}
.min-vh-85 {
    min-height: 85vh !important;
}
.max-vh-85 {
    max-height: 85vh !important;
}

.min-vh-90 {
    min-height: 90vh !important;
}
.max-vh-90 {
    max-height: 90vh !important;
}

.min-vh-95 {
    min-height: 95vh !important;
}


/* **/
.file-man-box {
    padding: 20px;
    border: 1px solid #e3eaef;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px
}

.file-man-box .file-close {
    color: #f1556c;
    position: absolute;
    line-height: 24px;
    font-size: 24px;
    right: 10px;
    top: 10px;
    visibility: hidden
}

.file-man-box .file-img-box {
    line-height: 120px;
    text-align: center
}

.file-man-box .file-img-box img {
    height: 64px
}

.file-man-box .file-download {
    font-size: 32px;
    color: #98a6ad;
    position: absolute;
    right: 10px
}

.file-man-box .file-download:hover {
    color: #313a46
}

.file-man-box .file-man-title {
    padding-right: 25px
}

.file-man-box:hover {
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
}

.file-man-box:hover .file-close {
    visibility: visible
}
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}
.text-justify{
    text-align: justify;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.bg-gray900{
    background-color: #797d81 !important;
}


