<!doctype html>

{% extends "../layout/base.html" %}

{% load static %}
{% load humanize %}


{% block sidebar %}

{% include "../element/sidebar.html" %}

{% endblock %}

{% block content %}

  {% block header %}

  {% include "../element/header.html" %}

  {% endblock %}

  <div class="page-wrapper">
    {% block pageheader %}
        {% include "../element/pageheader.html" %}
    {% endblock pageheader %}

    {% block main_content %}

    <div class="page-body">
                
        <div class="container-xl">
          
            {% if messages %}

            {% include "../element/alert-sucess.html" %}
            {% endif %}

            <div class="row row-cards mb-5">


                <div class="col-12">
                  <div class="row row-cards">
                    <div class="col-sm-6 col-lg-3">
                      <div class="card card-sm">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-christmas-tree"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3l4 4l-2 1l4 4l-3 1l4 4h-14l4 -4l-3 -1l4 -4l-2 -1z" />
                                  <path d="M14 17v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-3" /></svg>     </span>
                            </div>
                            <div class="col">
                              <div class="font-weight-medium">
                                Rodales
                              </div>
                              <div class="text-secondary">
                                {{ cantidad }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="card card-sm">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"></path></svg>
                              </span>
                            </div>
                            <div class="col">
                              <div class="font-weight-medium">
                                Superficie Total de Rodales Forestales
                              </div>
                              <div class="text-secondary">
                                {{ resumen.rodal_sup|floatformat:2|intcomma }} ha
                              
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                      <div class="card card-sm">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path><path d="M12 3v3m0 12v3"></path></svg>
                              </span>
                            </div>
                            <div class="col">
                              <div class="font-weight-medium">
                                Superficie Plantada
                              </div>
                              <div class="text-secondary">
                                {{ resumen.plantacion_sup|floatformat:2|intcomma }} ha
                              
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="card card-sm">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"></path></svg>
                              </span>
                            </div>
                            <div class="col">
                              <div class="font-weight-medium">
                                Sup. de Rodales con Otros Usos
                              </div>
                              <div class="text-secondary">
                                {{ resumen_noforestal.rodal_sup|floatformat:2|intcomma }} ha
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>

                <div class="col-12">
                  <div style="display: inherit; background-color: brown; width: 100%; height: 98vh; position:relative;">

                    <div id="map" style="width: 100%; height: 100%;"></div>
              
                 </div>
                </div>
            </div>

        
        </div>
      </div>

      
    {% endblock main_content %}


    <script src="{% static 'js/gis/rodales_config/plantaciones_rodales_config.js' %}"></script>
    <script>
      var map = new L.map('map');
      var layerControl = null;
      var rodaldata = "{{rodaldata|escapejs}}";
      //controlo que no sean null
      let rodal_gis ="{{rodales_gis|escapejs}}";
      

      

      var rodal_gis_serializer_json = JSON.parse(rodal_gis != '' ? rodal_gis : null);
      var rodal_data_serializer_json = JSON.parse(rodaldata != '' ? rodaldata : null);
      

      //console.log(rodal_gis_serializer_json);
     
      initGis(rodal_gis_serializer_json, null, true);
    
      //loadIntervenciones(sobrevivencia_gis, 'Sobrevivencia');
      //loadIntervenciones(poda_gis, 'Poda');
      //loadIntervenciones(raleo_gis, 'Raleo');
      
    </script>


    
  </div>

{% endblock  %}