<!doctype html>

{% extends "../layout/base.html" %}
{% load static %}

{% block content %}

  {% block header %}

  {% include "../element/header.html" %}

  {% endblock %}

  <link rel="stylesheet" href="{% static 'css/index.css' %}" //>


  <div class="page-wrapper">

    {% block main_content %}

    <div class="container px-0">

        <div class="container d-flex align-items-center justify-content-center px-0" id="row1">
          <div class="bg-dark" id="cover-container">

          </div>

          <h1 class="text-white" id="title-row1">Pindo S.A</h1>
          <h2 class="text-white" id="title-row2">Sistema de Administración de Rodales</h2>

        </div>

        <div class="container" style="height:90vh">

                    <!-- Service Start -->
          <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline ps-4">-----------------------</h6>
                    <h1 class="mt-2">Aplicaciones</h1>
                </div>

                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-2x">
                                    <img src="{% static 'img/icons/panel_admin.png' %}" alt="alternatetext" width="80px" height="80px"/></i>

                            </div>
                            <h3 class="mb-3">Administración General</h3>
                            <p style="text-align: justify;"></p>
                            <a class="btn px-3 mt-auto mx-auto" href="{% url 'indexAdmin' %}">Ir a...</a>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <img src="{% static 'img/icons/gis.png' %}" alt="alternatetext" width="80px" height="80px">
                            </div>
                            <h3 class="mb-3">Sistema de Información Geográfica (GIS)</h3>
                            <p style="text-align: justify;"></p>
                            <a class="btn px-3 mt-auto mx-auto" href="{% url 'gishome' %}">Ir a...</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-2x"><img src="{% static 'img/icons/costos.png' %}" alt="alternatetext" width="80px" height="80px"></i>
                            </div>
                            <h3 class="mb-3">Costos Generales</h3>
                            <p style="text-align: justify;"></p>
                            <a class="btn px-3 mt-auto mx-auto" href="http://192.168.36.65:5173/" target="_blank">Ir a...</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-2x"><img src="img/icon-2.png" alt="alternatetext" width="80px" height="80px"></i>
                            </div>
                            <h3 class="mb-3">Producción Forestal</h3>
                            <p style="text-align: justify;"></p>
                            <a class="btn px-3 mt-auto mx-auto" href="http://192.168.36.65:5174/">Ir a...</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-2x"><img src="img/icon-8.png" alt="alternatetext" width="80px" height="80px"></i>
                            </div>
                            <h3 class="mb-3">Resumen General</h3>
                            <p style="text-align: justify;"></p>
                            <a class="btn px-3 mt-auto mx-auto" href="http://192.168.36.65:5175/">Ir a...</a>
                        </div>
                    </div>

                </div>
            </div>
          </div>
          <!-- Service End -->


        </div>


    </div>

   


    {% endblock main_content %}

    

  </div>


{% endblock  %}
