<!doctype html>

{% extends "../../../layout/base.html" %}

{% load static %}



{% block sidebar %}

{% include "../../../element/sidebar.html" %}

{% endblock %}

{% block content %}

  {% block header %}

  {% include "../../../element/header.html" %}

  {% endblock %}

  <div class="page-wrapper">
    {% block pageheader %}
        {% include "../../../element/pageheader.html" %}
    {% endblock pageheader %}

    {% block main_content %}


    <link rel="stylesheet" href="{% static '/staticconfiguration/css/configuration.css' %}">

    <div class="page-body">
                
        <div class="container-xl">
          
            {% if messages %}

            {% include "../../../element/alert-sucess.html" %}
            {% endif %}

            <div class="row row-cards mb-5">

                <div class="col-md-12 col-lg-12">
                

                      <div class="row row-gap-3 justify-content-center">

                        <div class="col-xxl-2 col-xl-2 col-md-3 col-sm-3 d-flex flex-column" style="height: 250px; min-height: 250px; max-height: 250px; overflow: hidden;">
                          <a href="{% url 'inventarios-relevamientos-load-files' mode=0 %}" class="hover-pindo">
                          <div class="card d-flex p-2" style="flex: 1; align-items: center; height: 100%;">
                            <div class="card-body p-2 pt-3 text-center" style="flex: 0.4;">
                              <span class="avatar avatar-lg mb-1 rounded" style="background-image: 
                              url({% static 'img/icons/poda.png' %})"></span>
                            </div>
                            <h4 class="text-center" style="flex: 0.2;">Inventarios de Poda</h4>
                            <p class="text-description text-justify">Configuraciones Generales del Mapa principal. Configure el centro de inicio, el zoom, el SRC, etc.</p>
                          </div>
                        </a>
                        </div>

                        
                        <div class="col-xxl-2 col-xl-2 col-md-3 col-sm-3 d-flex flex-column" style="height: 250px; min-height: 250px; max-height: 250px; overflow: hidden;">
                          <a href="{% url 'inventarios-relevamientos-load-files' mode=1%}" class="hover-pindo">
                          <div class="card p-2" style="flex: 1; align-items: center; height: 100%">
                            <div class="card-body p-2 pt-3 text-center" style="flex: 0.4;">
                              <span class="avatar avatar-lg mb-1 rounded" 
                             >
                             <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  
                      fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  
                      stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8" />
                        <path d="M14 19l2 2l4 -4" /><path d="M9 8h4" /><path d="M9 12h2" /></svg>
                    
                            </span>
                            </div>
                            <h4 class="text-center" style="flex: 0.2;">Inventarios Tradicionales</h4>
                            <p class="text-description text-justify">
                              Configuraciones de las Capas que se utilizan como base del mapa. Puede optar por capas de 
                                OpenStreetMap, Google, ESRI, IGN Argentina, etc.
                             
                            </p>
                           
                       
                        </div>
                        </a>
                        </div>

                     
                      </div>
                     
                    </div>
              
                </div>
            
            </div>

         
        </div>
      </div>

      
    {% endblock main_content %}

    
  </div>

{% endblock  %}