<!DOCTYPE html>

{% extends '../layout/base.html' %}

{% load static %}




{% block sidebar %}
  {% include '../element/sidebar.html' %}
{% endblock %}



{% block content %}
  {% block header %}
    {% include '../element/header.html' %}
  {% endblock %}

  <div class="page-wrapper">
    {% block pageheader %}
      {% include '../element/pageheader.html' %}
    {% endblock %}

    {% block main_content %}
      <div class="page-body">
        <div class="container-xl">
          {% if messages %}

          {% include "../element/alert-sucess.html" %}
          {% endif %}
          <div class="row row-cards col-lg-12 col-md-12 col-sm-12 mb-5">


            <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-12">
                <div class="row gy-3">
                    <div class="card bg-primary-lt">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-lg-2 col-md-3 col-sm-3 d-flex align-items-start">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M12 4v16" /><path d="M4 15h8" />
                                <path d="M12 12h8" /><path d="M16 12v8" />
                                <path d="M16 16h4" /></svg>
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-9"> 
                              <div>
                                <h2 class="card-title text-center h2">Rodal</h2>
                              </div>

                              <div class="mb-2">
                                <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    <path d="M9 9l1 0"></path>
                                    <path d="M9 13l6 0"></path>
                                    <path d="M9 17l6 0"></path>
                                 </svg>
                               <strong>ID: </strong> {{rodal.pk}}
                              </div>
        
                              <div class="mb-2">
                                <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-3d-cube-sphere" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M6 17.6l-2 -1.1v-2.5"></path>
                                    <path d="M4 10v-2.5l2 -1.1"></path>
                                    <path d="M10 4.1l2 -1.1l2 1.1"></path>
                                    <path d="M18 6.4l2 1.1v2.5"></path>
                                    <path d="M20 14v2.5l-2 1.12"></path>
                                    <path d="M14 19.9l-2 1.1l-2 -1.1"></path>
                                    <path d="M12 12l2 -1.1"></path>
                                    <path d="M18 8.6l2 -1.1"></path>
                                    <path d="M12 12l0 2.5"></path>
                                    <path d="M12 18.5l0 2.5"></path>
                                    <path d="M12 12l-2 -1.12"></path>
                                    <path d="M6 8.6l-2 -1.1"></path>
                                 </svg>
                               <strong>Código SAP: </strong> {{rodal.cod_sap}}
                              </div>
        
                              <div class="mb-2">
                                <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
                                    <path d="M16 3v4"></path>
                                    <path d="M8 3v4"></path>
                                    <path d="M4 11h16"></path>
                                    <path d="M11 15h1"></path>
                                    <path d="M12 15v3"></path>
                                 </svg>
                               <strong>Campo: </strong> {{rodal.campo}}
                              </div>
      
        
                              <div class="mb-2">
                                <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    <path d="M9 9l1 0"></path>
                                    <path d="M9 13l6 0"></path>
                                    <path d="M9 17l6 0"></path>
                                 </svg>
                               <strong>Uso: </strong> {{rodal.usos_rodales.name}}
                              </div>
        
        
                              <div class="mb-2">
                                <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                    <path d="M12 7v5l3 3"></path>
                                 </svg>
                               <strong>Certificado: </strong> Plantacion
                              </div>

                              <div class="mb-2">
                                <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                    <path d="M12 7v5l3 3"></path>
                                 </svg>
                               <strong>Finalizado: </strong> {{ rodal.is_finish|yesno:"Si,No" }}
                               
                               
                              
                               
                              </div>

                              <div class="mb-2">
                                <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                    <path d="M12 7v5l3 3"></path>
                                 </svg>
                               <strong>Empresa: </strong> 
                               <a href="{% url 'empresas-view' id=rodal.empresa.pk %}">{{rodal.empresa.name}}</a>

                              </div>
        
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div>
                                <h2 class="card-title text-center h2 text-green">Plantaciones</h2>
                              </div>
                            <div class="col-lg-2 col-md-3 col-sm-3 d-flex align-items-start text-green">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 21c.5 -4.5 2.5 -8 7 -10" />
                                <path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" /></svg>


                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7"> 


                                <div class="mb-2">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                  
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle-filled text-green" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 9h-1l-.117 .007a1 1 0 0 0 0 1.986l.117 .007v3l.007 .117a1 1 0 0 0 .876 .876l.117 .007h1l.117 -.007a1 1 0 0 0 .876 -.876l.007 -.117l-.007 -.117a1 1 0 0 0 -.764 -.857l-.112 -.02l-.117 -.006v-3l-.007 -.117a1 1 0 0 0 -.876 -.876l-.117 -.007zm.01 -3l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007z" stroke-width="0" fill="currentColor" /></svg>
                                Asigne una Plantacion al Rodal
                                </div>
            
        
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3">

                              <a href="{% url 'plantaciones-index' id=rodal.pk %}" class="btn btn-success" aria-label="Button" attr="{{rodal.pk}}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                  <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                                  <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                                Editar
                            </a>
                                
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div>
                                <h2 class="card-title text-center h2 text-red">Intervenciones</h2>
                              </div>
                            <div class="col-lg-2 col-md-3 col-sm-3 d-flex align-items-start text-red">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="img-fluid">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M3 21l18 0"></path>
                                <path d="M9 8l1 0"></path>
                                <path d="M9 12l1 0"></path>
                                <path d="M9 16l1 0"></path>
                                <path d="M14 8l1 0"></path>
                                <path d="M14 12l1 0"></path>
                                <path d="M14 16l1 0"></path>
                                <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16"></path>
                              </svg>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7"> 


                                <div class="mb-2">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-3d-cube-sphere" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M6 17.6l-2 -1.1v-2.5"></path>
                                        <path d="M4 10v-2.5l2 -1.1"></path>
                                        <path d="M10 4.1l2 -1.1l2 1.1"></path>
                                        <path d="M18 6.4l2 1.1v2.5"></path>
                                        <path d="M20 14v2.5l-2 1.12"></path>
                                        <path d="M14 19.9l-2 1.1l-2 -1.1"></path>
                                        <path d="M12 12l2 -1.1"></path>
                                        <path d="M18 8.6l2 -1.1"></path>
                                        <path d="M12 12l0 2.5"></path>
                                        <path d="M12 18.5l0 2.5"></path>
                                        <path d="M12 12l-2 -1.12"></path>
                                        <path d="M6 8.6l-2 -1.1"></path>
                                    </svg>
                                Agregue Intervenciones al Rodal
                                </div>
            
        
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3">

                              <a href="{% url 'intervenciones-index' idrodal=rodal.pk %}" class="btn btn-danger" aria-label="Button" attr="{{rodal.pk}}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                  <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                                  <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                                Editar
                            </a>
                                
     
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div>
                              <h2 class="card-title text-center h2 text-blue">Planificación</h2>
                            </div>
                          <div class="col-lg-2 col-md-3 col-sm-3 d-flex align-items-start text-blue">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="img-fluid">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M3 21l18 0"></path>
                              <path d="M9 8l1 0"></path>
                              <path d="M9 12l1 0"></path>
                              <path d="M9 16l1 0"></path>
                              <path d="M14 8l1 0"></path>
                              <path d="M14 12l1 0"></path>
                              <path d="M14 16l1 0"></path>
                              <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16"></path>
                            </svg>
                          </div>
                          <div class="col-lg-7 col-md-7 col-sm-7"> 


                              <div class="mb-2">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-3d-cube-sphere" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M6 17.6l-2 -1.1v-2.5"></path>
                                      <path d="M4 10v-2.5l2 -1.1"></path>
                                      <path d="M10 4.1l2 -1.1l2 1.1"></path>
                                      <path d="M18 6.4l2 1.1v2.5"></path>
                                      <path d="M20 14v2.5l-2 1.12"></path>
                                      <path d="M14 19.9l-2 1.1l-2 -1.1"></path>
                                      <path d="M12 12l2 -1.1"></path>
                                      <path d="M18 8.6l2 -1.1"></path>
                                      <path d="M12 12l0 2.5"></path>
                                      <path d="M12 18.5l0 2.5"></path>
                                      <path d="M12 12l-2 -1.12"></path>
                                      <path d="M6 8.6l-2 -1.1"></path>
                                  </svg>
                              Eventos de Intervención del Rodal
                              </div>
          
      
                          </div>

                          <div class="col-lg-3 col-md-3 col-sm-3">

                            <a href="{% url 'planificacion-inter-index' idrodal=rodal.pk %}" class="btn btn-primary" aria-label="Button" attr="{{rodal.pk}}">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                              Editar
                          </a>
                              
   
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              
            </div>

            <div class="col-xxl-9 col-lg-9 col-md-9 col-sm-12">
             
                <div class="card min-vh-85 max-vh-85 d-flex flex-row">
                    <div class="card-body" style="overflow: auto; padding: 1px;">
                      <div style="display: flex; align-items: stretch; height: 100%;">

                        <div id="map" style="width: 100%; height: 100%;"></div>

                  
                      </div>
                     
                    </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    {% endblock %}
  </div>


  <script src="{% static 'js/gis/rodales_config/plantaciones_rodales_config.js' %}"></script>
  

  <script>
    var map = new L.map('map');
    let rodal_gis = JSON.parse("{{rodales_gis|escapejs}}");
    let plantaciones = JSON.parse("{{plantaciones_gis|escapejs}}");

    initGis(rodal_gis, plantaciones);
    //loadPlantaciones();
    
  </script>




{% endblock %}


