<!doctype html>

{% extends "../../../layout/base.html" %}

{% load static %}




{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/print_pages/print_pages_relevamiento.css' %}">
 
  <div class="page-wrapper">

     <!-- Page header -->
     <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
    
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
              <button type="button" class="btn btn-primary" onclick="javascript:window.print();">
                <!-- Download SVG icon from http://tabler-icons.io/i/printer -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" /></svg>
                Imprimir
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl">
          <div class="card card-lg">
            <div class="card-body" style="padding: 1rem;">
                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'img/pindo_logo.png' %}" width="140" height="105" alt="logo">
                    
                    </div>
                  
                    <div class="col-12 d-flex justify-content-center">
                      <h1>Resumen de Relevamiento</h1>
                    </div>
                  </div>
                <hr class="hr">
                <div class="row row-cards mb-5 justify-content-center">

                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">

                        <div class="card">
                            <div class="card-header justify-content-between">
                              <h3 class="card-title">Datos del Relevamiento</h3>
                            </div>
    
                            
                            <div class="card-body">
    
                                <div class="datagrid">
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Relevamiento N°:</div>
                                        <div class="datagrid-content">{{ relevamiento.number }}</div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Actividad:</div>
                                        <div class="datagrid-content">{{ relevamiento.categorias.name }}</div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Tamaño de Parcela:</div>
    
    
    
                                       
    
                                        {% if  relevamiento_data.invrel_resumen__tam_parcela %}
                                        <div class="datagrid-content">{{ relevamiento_data.invrel_resumen__tam_parcela }}</div>
                                        {% else %}
    
                                            {% if  resumen_general.tam_parc %}
                                            <div class="datagrid-content">{{ resumen_general.tam_parc }}</div>
                                            {% else %}
                                                <div class="datagrid-content"><p>----</p></div>
                                            {% endif %}
                                        
                                    {% endif %}
    
                                        
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Año de Plantación</div>
                                        {% if  plantacion.fecha %}
                                        <div class="datagrid-content">{{ plantacion.fecha }}</div>
                                    {% else %}
                                    <div class="datagrid-content"><p>----</p></div>
                                        
                                    {% endif %}
                                      
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Sup. del Rodal</div>
                                        {% if  plantacion.fecha %}
                                        <div class="datagrid-content">  {{ rodales_gis.superficie|floatformat:2 }}</div>
                                    {% else %}
                                    <div class="datagrid-content"><p>----</p></div>
                                        
                                    {% endif %}
                                        
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Intensidad de Muestreo:</div>
                                        <div class="datagrid-content">{{ relevamiento.is_finish|yesno:"Si,No"}}</div>
                                    </div>
                               
                                   
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Emsefor:</div>
                                        <div class="datagrid-content">
    
                                            {% if  relevamiento.emsefor.name %}
                                                {{ relevamiento.emsefor.name }}
                                            {% else %}
                                                <p>----</p>
                                            {% endif %}
                                          
                                           
                                            
                                        </div>
                                    </div>
    
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Promedio Raleo:</div>
                                        <div class="datagrid-content">{{ ''}}</div>
                                    </div>
    
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Distancia Plantación:</div>
                                        {% if  plantacion.dist_lineas %}
                                        <div class="datagrid-content">{{ plantacion.dist_lineas}} {{'x'}} {{plantacion.dist_plantas}}</div>
                                        {% else %}
                                        <p>----</p>
    
                                        {% endif %}
                                       
                                    </div>
    
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Altura Deseada:</div>
                                        <div class="datagrid-content">{{ relevamiento.h_deseada}}</div>
                                    </div>
    
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Altura de Última Poda:</div>
                                        <div class="datagrid-content">{{ relevamiento.h_last_poda}}</div>
                                    </div>
    
                                </div>
                    
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
    
                        <div class="card">
                            <div class="card-header justify-content-between">
                              <h3 class="card-title">Información de contexto</h3>
                            </div>
    
                            <div class="card-body">
    
                                <div class="datagrid">
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Propietario del Rodal:</div>
                                        <div class="datagrid-content">
                                            {% if relevamiento.rodales %}
                                                <a href="{% url 'empresas-view'  id=relevamiento.rodales.empresa.pk %}">
                                                    {{ relevamiento.rodales.empresa.name }}
                                                </a>
                                            {% endif%}
                                        </div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Rodal:</div>
                                        <div class="datagrid-content">
                                            {% if relevamiento.rodales %}
                                            <a href="{% url 'rodales-view'  idrodal=relevamiento.rodales_id %}">
                                            {{ relevamiento.rodales.cod_sap }}
                                            </a>
                                            {% endif%}
                                        </div>
                                    </div>
    
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">N° de Parcelas:</div>
                                        <div class="datagrid-content">{{ relevamiento.categorias.name }}</div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Fecha de Intervención:</div>
                                        <div class="datagrid-content">{{ relevamiento.fecha }}</div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">Especie</div>
                                        
                                        <div class="datagrid-content">
                                            {% if plantacion.procedencias_id %}
                                            {% if relevamiento.rodales %}
                                            <a href="{% url 'procedencias-view'  idprocedencia=plantacion.procedencias_id %}">
                                            {{ plantacion.procedencias.name }}
                                            </a>
                                            {% endif%}
                                               
                                            {% else %}
    
                                               
                                            <p>----</p>
                                            {% endif %}
                                          
                                        
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
    
                        </div>
                
                    </div>
                </div>

                <hr class="hr">


                <div class="row mb-5" style="margin-top: 280px;">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            
                            <h3 class="card-title fw-bold">Resumen del Relevamiento</h3>
                            
                            <div class="card-body">
        
                                <div id="" class="table-responsive" style="font-size: 11px !important;">
                                    <table id="tabladata" class="table table-bordered table-hover dataTable">
                                    <thead style="font-size: 10px !important;"> 
                                        <tr style="font-size: 10px !important;">
                                            {% if  relevamiento.type != 'Preexistente' %}
                                            <th class="dt-center align-middle" style="font-size: xx-small;">Parc.</th>
                                            {% endif %}
                                         
                                            <th class="dt-center align-middle" style="font-size: xx-small;">N° Arb./ha</th>
                                            {% if relevamiento.categorias.name == 'Poda' %}
                                            <th class="dt-center align-middle" style="font-size: xx-small;">Arb. Podados</th>
                                          
                                            <th class="dt-center align-middle" style="font-size: xx-small;">Arb./h Des.</th>
                                            <th class="dt-center align-middle" style="font-size: xx-small;">Arb. No Podados</th>
                                            {% endif %}
                                            <th class="dt-center align-middle" style="font-size: xx-small;">DAP (cm)</th>
                                            <th class="dt-center align-middle" style="font-size: xx-small;">h Total (m)</th>
                                            <th class="dt-center align-middle" style="font-size: xx-small;">h de Poda (m)</th>
                                            {% if relevamiento.categorias.name == 'Poda' %}
                                            <th class="dt-center align-middle" style="font-size: xx-small;">DMSM (cm)</th>
                                            {% endif %}
                                            <th class="dt-center align-middle" style="font-size: xx-small;">Área basal (m2)</th>

                                            {% if relevamiento.categorias.name == 'Poda' %}
                                            <th class="dt-center align-middle" style="font-size: xx-small;">Copa Rem. (%)</th>
                                            {% endif %}
                                           
                                            
                                           
        
                                
                            
                                        </tr>
                                    </thead>
                                    <tbody class="table-tbody">

                                        {% if relevamiento.type != 'Preexistente' %}
                                            <tr style="background-color: #f3f3f3; font-weight: bold;">
                                                <td class="dt-center align-middle"> {{ '' }}</td>
                                                <td class="dt-center align-middle"> {{ resumen_general.n_arb_ha | floatformat:0}}</td>
                                                {% if relevamiento.categorias.name == 'Poda' %}
                                                <td class="dt-center align-middle"> {{ resumen_general.arboles_podados | floatformat:0}}</td>
                                                
                                                
                                                <td class="dt-center align-middle"> {{ resumen_general.arb_h_deseada | floatformat:0}}</td>
                                                <td class="dt-center align-middle"> {{ resumen_general.arb_no_podados | floatformat:0}}</td>
                                                {% endif %}
        
                                                <td class="dt-center align-middle"> {{ resumen_general.dap | floatformat:2}}</td>
                                                <td class="dt-center align-middle"> {{ resumen_general.h_total | floatformat:2}}</td>
                                                <td class="dt-center align-middle"> {{ resumen_general.h_poda | floatformat:2}}</td>
                                                {% if relevamiento.categorias.name == 'Poda' %}
                                                <td class="dt-center align-middle"> {{ resumen_general.dmsm | floatformat:2}}</td>
                                                {% endif %}
                                                <td class="dt-center align-middle"> {{ resumen_general.area_basal | floatformat:2 }}</td>
                                                
                                                
                                                <td class="dt-center align-middle"> {{ resumen_general.porc_remo | floatformat:2 }}</td>
                                            </tr>
                                    
                                        {% else %}
                                        <tr style="background-color: #f3f3f3; font-weight: bold;">
                                            <td class="dt-center align-middle"> {{ resumen_general.arb_ha | floatformat:0}}</td>
                                            {% if relevamiento.categorias.name == 'Poda' %}
                                            <td class="dt-center align-middle"> {{ resumen_general.arb_podados | floatformat:0}}</td>
                                            
                                            
                                            <td class="dt-center align-middle"> {{ resumen_general.arb_h_deseada | floatformat:0}}</td>
                                            <td class="dt-center align-middle"> {{ resumen_general.arb_no_podados | floatformat:0}}</td>
                                            {% endif %}

                                            <td class="dt-center align-middle"> {{ resumen_general.dap | floatformat:2}}</td>
                                            <td class="dt-center align-middle"> {{ resumen_general.h_total | floatformat:2}}</td>
                                            <td class="dt-center align-middle"> {{ resumen_general.h_poda | floatformat:2}}</td>
                                            {% if relevamiento.categorias.name == 'Poda' %}
                                            <td class="dt-center align-middle"> {{ resumen_general.dmsm | floatformat:2}}</td>
                                            {% endif %}
                                            <td class="dt-center align-middle"> {{ resumen_general.area_basal | floatformat:2 }}</td>

                                            {% if relevamiento.categorias.name == 'Poda' %}
                                            <td class="dt-center align-middle"> {{ resumen_general.copa_rem | floatformat:2 }}</td>
                                            {% endif %}
                                        </tr>
                                    
                                        {% endif %}

                                        
                                        {% for data in data_resumen %}
                                        <tr>
                                        
                                            <td class="dt-center align-middle"> {{ data.number_parcela }}</td>
                                            <td class="dt-center align-middle"> {{ data.n_arb_ha | floatformat:0}}</td>
                                            {% if relevamiento.categorias.name == 'Poda' %}
                                            <td class="dt-center align-middle"> {{ data.arboles_podados | floatformat:0}}</td>
                                            
                                            
                                            <td class="dt-center align-middle"> {{ data.arb_h_deseada | floatformat:0}}</td>
                                            <td class="dt-center align-middle"> {{ data.arb_no_podados | floatformat:0}}</td>
                                            {% endif %}
    
                                            <td class="dt-center align-middle"> {{ data.dap_ | floatformat:2}}</td>
                                            <td class="dt-center align-middle"> {{ data.h_total_ | floatformat:2}}</td>
                                            <td class="dt-center align-middle"> {{ data.h_poda_ | floatformat:2}}</td>
                                            {% if relevamiento.categorias.name == 'Poda' %}
                                            <td class="dt-center align-middle"> {{ data.dmsm_ | floatformat:2}}</td>
                                            {% endif %}
                                            <td class="dt-center align-middle"> {{ data.area_basal | floatformat:2 }}</td>
                                            <td class="dt-center align-middle"> {{ data.porc_remo | floatformat:2 }}</td>
                                        </tr>
                                        {% endfor %}
                    
                                    </tbody>
                                    </table>
                                </div>
        
                            
                    
                            </div>
                        </div>
                    </div>

                    {% if relevamiento.type != 'Preexistente' %}

                    <hr class="hr">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3">
                        <div class="card">
                           
                            <h3 class="card-title fw-bold">Resumen de Calidad</h3>
                     
        
                            
                            <div class="card-body">
        
                                <div id="" class="table-responsive"  style="font-size: 11px !important;">
                                    <table id="tabladata_2" class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th class="dt-center align-middle">Parcela</th>
                                            {% for obs in observaciones %}
                                                <th class="dt-center align-middle" style="font-size: xx-small;">{{obs.name}}</th>
                                            {% endfor%}
                                          
    
                                        </tr>
                                    </thead>
                                    <tbody class="table-tbody">
    
                                        {% for dat_obs in data_observaciones %}
                                            <tr>
                                                <td class="dt-center align-middle"> {{ dat_obs.parcela }}</td>
                                                {% for dat_obs_aux in dat_obs.observaciones %}
    
                                                        {% for key, value in dat_obs_aux.items %}
    
                                                            {% if value == '' %}
    
                                                                <td class="dt-center align-middle"> {{ '--'}}</td>
    
                                                            {%  else  %}
    
                                                                <td class="dt-center align-middle"> {{ value | floatformat:2 }}</td>
    
                                                            {% endif %}
    
                                                        {% endfor%}
    
    
                                                {% endfor%}
    
                                            </tr>
                                                
                                        {% endfor%}
    
                                       
                                    
                                      
                    
                                    </tbody>
                                    </table>
                                </div>
        
                            
                    
                            </div>
                        </div>
                    </div>
    
    
                    <hr class="hr">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3">
                        <div class="card">
                           
                            <h3 class="card-title fw-bold">Resumen de Daños</h3>
                  
        
                            
                            <div class="card-body">
        
                                <div id="" class="table-responsive"  style="font-size: 11px !important;">
                                    <table id="tabladata_3" class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th class="dt-center align-middle">Parcela</th>
                                            {% for dam in damages %}
                                                <th class="dt-center align-middle" style="font-size: xx-small;">{{dam.name}}</th>
                                            {% endfor%}
                                          
    
                                        </tr>
                                    </thead>
                                    <tbody class="table-tbody">
    
                                        {% for dat_dam in data_damages %}
                                            <tr>
                                                <td class="dt-center align-middle"> {{ dat_dam.parcela }}</td>
                                                {% for dat_dam_aux in dat_dam.damages %}
    
                                                        {% for key, value in dat_dam_aux.items %}
    
                                                            {% if value == '' %}
    
                                                                <td class="dt-center align-middle"> {{ '--'}}</td>
    
                                                            {%  else  %}
    
                                                                <td class="dt-center align-middle"> {{ value | floatformat:2 }}</td>
    
                                                            {% endif %}
    
                                                
                                                      
                                                
    
                                                        {% endfor%}
    
    
                                                {% endfor%}
                                              
                                             
                                               
                                    
                                            </tr>
                                                
                                        {% endfor%}
                                    
                                      
                    
                                    </tbody>
                                    </table>
                                </div>
        
                            
                    
                            </div>
                        </div>
                    </div>
                  
                    {% endif %}
    
                    
    
    
                
                            
                </div>
            
              
            </div>
          </div>
        </div>
      </div>
     
  </div>

{% endblock  %}