<!doctype html>

{% extends "../layout/base.html" %}

{% load static %}


{% block sidebar %}

{% include "../element/sidebar.html" %}

{% endblock %}

{% block content %}

  {% block header %}

  {% include "../element/header.html" %}

  {% endblock %}

  <div class="page-wrapper">
    {% block pageheader %}
        {% include "../element/pageheader.html" %}
    {% endblock pageheader %}

    {% block main_content %}

    <div class="page-body">
                
        <div class="container-xl">
          
            {% if messages %}

            {% include "../element/alert-sucess.html" %}
            {% endif %}

            <div class="row row-cards mb-5">

                <div class="col-xxl-3 col-md-12 col-lg-12 col-sm-12 mb-3">

                  <div class="row">
                    <div class="col-xxl-12 col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="card bg-primary-lt">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-xxl-2 col-lg-2 col-md-3 col-sm-12 d-flex align-items-start justify-content-center">
                                  <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" 
                                  class="xxl-svg-icon lg-svg-icon md-svg-icon sm-svg-icon"
                                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" 
                                 >
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8"></path>
                                      <path d="M13 7l0 .01"></path>
                                      <path d="M17 7l0 .01"></path>
                                      <path d="M17 11l0 .01"></path>
                                      <path d="M17 15l0 .01"></path>
                                   </svg>
                              
                      
                              </div>
                              <div class="col-md-8">
                                  <h3 class="card-title text-center">Sección de Administración de las Intervenciones</h3>
                                  <p class="text-muted">En esta sección puede realizar las ediciones de las Intervenciones.</p>
                               
                              </div>
                          </div>
  
                          
                          </div>
                      </div>

                    </div>
                    <div class="col-xxl-12 col-lg-6 col-md-6 col-sm-12">
                      <div class="card bg-teal-lt">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-xxl-2 col-lg-2 col-md-3 col-sm-12 d-flex align-items-start justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                
                                class="xxl-svg-icon lg-svg-icon md-svg-icon sm-svg-icon"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                  <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                  <path d="M12 4v16" /><path d="M4 15h8" />
                                  <path d="M12 12h8" /><path d="M16 12v8" />
                                  <path d="M16 16h4" /></svg>
                                
                              </div>
                              <div class="col-md-8">
                                <div>
                                  <h2 class="card-title text-center h2">Rodal</h2>
                                </div>
                                <div class="mb-2">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-3d-cube-sphere" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M6 17.6l-2 -1.1v-2.5"></path>
                                      <path d="M4 10v-2.5l2 -1.1"></path>
                                      <path d="M10 4.1l2 -1.1l2 1.1"></path>
                                      <path d="M18 6.4l2 1.1v2.5"></path>
                                      <path d="M20 14v2.5l-2 1.12"></path>
                                      <path d="M14 19.9l-2 1.1l-2 -1.1"></path>
                                      <path d="M12 12l2 -1.1"></path>
                                      <path d="M18 8.6l2 -1.1"></path>
                                      <path d="M12 12l0 2.5"></path>
                                      <path d="M12 18.5l0 2.5"></path>
                                      <path d="M12 12l-2 -1.12"></path>
                                      <path d="M6 8.6l-2 -1.1"></path>
                                   </svg>
                                 <strong>Código SAP: </strong> {{rodal.cod_sap}}
                                </div>
          
                                <div class="mb-2">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
                                      <path d="M16 3v4"></path>
                                      <path d="M8 3v4"></path>
                                      <path d="M4 11h16"></path>
                                      <path d="M11 15h1"></path>
                                      <path d="M12 15v3"></path>
                                   </svg>
                                 <strong>Campo: </strong> {{rodal.campo}}
                                </div>
        
          
                                <div class="mb-2">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                      <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                      <path d="M9 9l1 0"></path>
                                      <path d="M9 13l6 0"></path>
                                      <path d="M9 17l6 0"></path>
                                   </svg>
                                 <strong>Uso: </strong> {{rodal.usos_rodales.name}}
                                </div>
          
          
                                <div class="mb-2">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                      <path d="M12 7v5l3 3"></path>
                                   </svg>
                                 <strong>Certificado: </strong> Plantacion
                                </div>
    
                                <div class="mb-2">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                      <path d="M12 7v5l3 3"></path>
                                   </svg>
                                 <strong>Finalizado: </strong> {{ rodal.is_finish|yesno:"Si,No" }}
                                 
                                
                                </div>
    
                                <div class="mb-2">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                      <path d="M12 7v5l3 3"></path>
                                   </svg>
                                 <strong>Empresa: </strong> 
                                 <a href="{% url 'empresas-view' id=rodal.empresa.pk %}">{{rodal.empresa.name}}</a>
    
                                </div>
                               
                              </div>
                          </div>
    
                          
                          </div>
                      </div>
                      
                    </div>
                    <div class="hr-text">Operaciones de Intervención</div>
                    <div class="col-xxl-12 col-lg-6 col-md-12 col-sm-12">
                      <div class="card">
                        <div class="list-group list-group-flush list-group-hoverable">
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <a href="{% url 'intervenciones-sobrevivencia-add' idrodal=rodal.pk %}">
                                  <span class="avatar text-blue" >
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-activity" width="24" height="24" viewBox="0 0 24 24" 
                                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                      <path d="M3 12h4l3 8l4 -16l3 8h4" /></svg></span>
                                </a>
                              </div>
                              <div class="col text-truncate">
                                <a href="{% url 'intervenciones-sobrevivencia-add' idrodal=rodal.pk %}" class="text-reset d-block">Sobrevivencia</a>
                                <div class="d-block text-secondary text-truncate mt-n1">Administrar los relevamientos de Sobrevivencia</div>
                              </div>
                           
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <a href="{% url 'intervenciones-poda-add' idrodal=rodal.pk %}">
                                  <span class="avatar" style="background-image: url({% static 'img/icons/poda.png' %})"></span>
                                </a>
                              </div>
                              <div class="col text-truncate">
                                <a href="{% url 'intervenciones-poda-add' idrodal=rodal.pk %}" class="text-reset d-block">Poda</a>
                                <div class="d-block text-secondary text-truncate mt-n1">Administrar las intervenciones de Poda</div>
                              </div>
                           
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <a href="{% url 'intervenciones-raleo-add' idrodal=rodal.pk %}">
                                  <span class="avatar" style="background-image: url({% static 'img/icons/raleo.png' %})"></span>
                                </a>
                              </div>
                              <div class="col text-truncate">
                                <a href="{% url 'intervenciones-raleo-add' idrodal=rodal.pk %}" class="text-reset d-block">Raleo</a>
                                <div class="d-block text-secondary text-truncate mt-n1">Administrar las intervenciones de Raleos</div>
                              </div>
                           
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <a href="{% url 'intervenciones-talaraza-add' idrodal=rodal.pk %}">
                                  <span class="avatar" style="background-image: url({% static 'img/icons/talarasa.png' %})"></span>
                                </a>
                              </div>
                              <div class="col text-truncate">
                                <a href="{% url 'intervenciones-talaraza-add' idrodal=rodal.pk %}" class="text-reset d-block">Tala Rasa</a>
                                <div class="d-block text-secondary text-truncate mt-n1">Administrar las intervenciones de Tala Rasa</div>
                              </div>
                           
                            </div>
                          </div>
                       
                        </div>
                      </div>
                      
                    </div>
                  </div>


                </div>

                <div class="col-xxl-9 col-md-12 col-lg-12 col-sm-12">
                  <div class="card min-vh-90 max-vh-90">
                    <div class="card-body">
                    
                      <div id="" class="table-responsive">
                        <table id="tabladata" class="table table-bordered table-hover dataTable sm-table-text">
                          <thead>
                            <tr>
                              <th class="dt-center align-middle"></th>
                              <th class="dt-center align-middle">Id</th>
                              <th class="dt-center align-middle">Nombre</th>
                              <th class="dt-center align-middle">Tipo</th>
                              <th class="dt-center align-middle">Fecha</th>
                              <th class="dt-center align-middle">Emsefor</th>
                              <th class="dt-center align-middle">Usuario</th>
                              <th class="dt-center align-middle">Fecha de Registro</th>
                              <th class="dt-center align-middle">Acciones</th>
                            </tr>
                          </thead>
                          <tbody class="table-tbody">
                            {% for inter in intervenciones %}
                                <tr>
                                  <td class="dt-center align-middle"> 
                                    <div class="mr-3">
                                      {% if inter.type == 'Sobrevivencia' %}
                                        <a href="{% url 'intervenciones-sobrevivencia-view'  idsobrevivencia=inter.pk %}" class="btn btn-twitter btn-icon" aria-label="Button" attr="{{inter.pk}}">
                                      {% elif inter.type == 'Poda' %}
                                        <a href="{% url 'intervenciones-poda-view'  idpoda=inter.pk %}" class="btn btn-twitter btn-icon" aria-label="Button" attr="{{inter.pk}}">

                                      {% elif inter.type == 'Raleo' %}
                                        <a href="{% url 'intervenciones-raleo-view'  idraleo=inter.pk %}" class="btn btn-twitter btn-icon" aria-label="Button" attr="{{inter.pk}}">
  
                                      {% elif inter.type == 'Talaraza' %}
                                        <a href="{% url 'intervenciones-talaraza-view'  idtalaraza=inter.pk %}" class="btn btn-twitter btn-icon" aria-label="Button" attr="{{inter.pk}}">
    
                                      {% endif %}
                                        
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                          <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                                       </svg>
                                      </a>
                                    </div>
                                </td>
                             
                                    <td class="dt-center align-middle"> {{ inter.pk }}</td>
                                    <td class="dt-center align-middle">{{ inter.name }}</td>
                                    <td class="dt-center align-middle">{{ inter.type }}</td>
                                    <td class="dt-center align-middle">{{ inter.fecha }}</td>
                                    <td class="dt-center align-middle">{{ inter.emsefors.name }}</td>
                                    <td class="dt-center align-middle">{{ inter.users|default_if_none:"" }}</td>
                                    <td class="dt-center align-middle">{{ inter.created }}</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                       
                                            <div class="mr-3">
                                               
                                                {% if inter.type == 'Sobrevivencia' %}
                                                  <a href="{% url 'intervenciones-sobrevivencia-edit' idsobrevivencia=inter.pk %}"  class="btn btn-rss btn-icon" aria-label="Button" attr="{{inter.pk}}">
                                           
                                                {% elif inter.type == 'Poda' %}
                                                  <a href="{% url 'intervenciones-poda-edit' idpoda=inter.pk %}"  class="btn btn-rss btn-icon" aria-label="Button" attr="{{inter.pk}}">
                                                
                                                {% elif inter.type == 'Raleo' %}
                                                    <a href="{% url 'intervenciones-raleo-edit' idraleo=inter.pk %}"  class="btn btn-rss btn-icon" aria-label="Button" attr="{{inter.pk}}">
                                               
                                                {% elif inter.type == 'Talaraza' %}
                                                      <a href="{% url 'intervenciones-talaraza-edit' idtalaraza=inter.pk %}"  class="btn btn-rss btn-icon" aria-label="Button" attr="{{inter.pk}}">

                                                {% endif %}
                                               
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                                        <path d="M16 5l3 3"></path>
                                                     </svg>
                                                </a>
                                            </div>
                                            {% if user.role == 'AG' %}
                                            <div>

                                              {% if inter.type == 'Sobrevivencia' %}
                                              <a href="#" onclick="deleteInformation(this)" attr="{{inter.pk}}" class="btn btn-youtube btn-icon" controller="sobrevivencia">
                                       
                                              {% elif inter.type == 'Poda' %}
                                              <a href="#" onclick="deleteInformation(this)" attr="{{inter.pk}}" class="btn btn-youtube btn-icon" controller="poda">
                                              
                                              {% elif inter.type == 'Raleo' %}
                                              <a href="#" onclick="deleteInformation(this)" attr="{{inter.pk}}" class="btn btn-youtube btn-icon" controller="raleo">
                                            
                                              {% elif inter.type == 'Talaraza' %}
                                              <a href="#" onclick="deleteInformation(this)" attr="{{inter.pk}}" class="btn btn-youtube btn-icon" controller="talaraza">

                                              {% endif %}
                                                
                                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M4 7l16 0"></path>
                                                    <path d="M10 11l0 6"></path>
                                                    <path d="M14 11l0 6"></path>
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                                 </svg>
                                                </a>
        
                                            </div>
                                            {% endif %}
                                          </div>
                                        
                                    </td>
                                </tr>
                            
                            {% endfor %}
        
        
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        </div>
      </div>

      
    {% endblock main_content %}

    <script>
        $(function () {
            $('#tabladata').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": false,
                "pageLength": 10,
                order: [[1, 'asc']],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
                }
            });
    
        })
    </script>
    
  </div>

{% endblock  %}