{% load static %}

{% block header %}

    <header class="navbar navbar-expand-md d-print-none"  data-bs-theme="dark">
    <div class="container-xl" style="justify-content: end;">

      <div class="navbar-nav flex-row order-md-last">

        {% if user.pk is null %}
          <a href="{% url 'login' %}" class="dropdown-item justify-content-around">Iniciar Sesión</a>
        {% else %}
        
        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm">

              <img src="data:image/*; base64,{{user.image}} " class="avatar" style="min-height: 40px; min-width: 40px;">
            </span>
            <div class="d-none d-xl-block ps-2">
              <div>{{user}}</div>
              <div class="mt-1 small text-muted">{{user.role}}</div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="{% url 'users-profile' iduser=user.pk %}" class="dropdown-item">Mi Perfil</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">Configuraciones</a>
            <a href="{% url 'logout' %}" class="dropdown-item">Cerrar Sesión</a>
          </div>
        </div>
         {% endif %}
      </div>
    </div>
  </header>

{% endblock  %}