{% load static %}


{% block sidebar %}

    <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href="{% url 'index' %}">
                <img class="navbar-brand-image" src="{% static 'img/pindo_logo.png' %}" width="110" height="32" alt="logo">
            </a>
        </h1>
        <div class="navbar-nav flex-row d-lg-none">
            
            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                    <span class="avatar avatar-sm">

                        <img src="data:image/*; base64,{{user.image}} " class="avatar" style="min-height: 40px; min-width: 40px;">
                      </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <div class="ps-2">
                        <div class="small">{{user}}</div>
                        <div class="mt-1 small text-muted">{{user.role}}</div>
                    </div>
                    <hr class="hr mt-1 mb-2">

                   
                    <a href="{% url 'users-profile' iduser=user.pk %}" class="dropdown-item">Mi Perfil</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Cerrar Sesión</a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'indexAdmin' %}">
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                </span>
                <span class="nav-link-title">
                    Inicio
                </span>
                </a>
            </li>
          
            {% if user.role == 'AG' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-index' %}" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>
                    </span>
                    <span class="nav-link-title">
                        Usuarios
                    </span>
                    </a>
                </li>

            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'empresas-index' %}" >
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-community" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8"></path>
                        <path d="M13 7l0 .01"></path>
                        <path d="M17 7l0 .01"></path>
                        <path d="M17 11l0 .01"></path>
                        <path d="M17 15l0 .01"></path>
                     </svg>
                  
                </span>
                <span class="nav-link-title">
                    Empresas
                </span>
                <div >
                    <span class="badge badge-sm bg-green-lt text-uppercase ms-auto" style="transform: unset !important;top: 0.5rem;">
                        {{ empresas_count }}</span>
                </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'emsefor-index' %}" >
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 21l18 0"></path>
                        <path d="M9 8l1 0"></path>
                        <path d="M9 12l1 0"></path>
                        <path d="M9 16l1 0"></path>
                        <path d="M14 8l1 0"></path>
                        <path d="M14 12l1 0"></path>
                        <path d="M14 16l1 0"></path>
                        <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16"></path>
                     </svg>
                  
                </span>
                <span class="nav-link-title">
                    Emsefor
                </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'procedencias-index' %}" >
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plant-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M2 9a10 10 0 1 0 20 0"></path>
                        <path d="M12 19a10 10 0 0 1 10 -10"></path>
                        <path d="M2 9a10 10 0 0 1 10 10"></path>
                        <path d="M12 4a9.7 9.7 0 0 1 2.99 7.5"></path>
                        <path d="M9.01 11.5a9.7 9.7 0 0 1 2.99 -7.5"></path>
                     </svg>
                  
                </span>
                <span class="nav-link-title">
                    Material Genético
                </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'sagpyas-index' %}" >
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-invoice" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                        <path d="M9 7l1 0"></path>
                        <path d="M9 13l6 0"></path>
                        <path d="M13 17l2 0"></path>
                     </svg>
                  
                </span>
                <span class="nav-link-title">
                    Sagpyas
                </span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'maquinas-index' %}" >
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tractor" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 15m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                        <path d="M7 15l0 .01" /><path d="M19 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M10.5 17l6.5 0" /><path d="M20 15.2v-4.2a1 1 0 0 0 -1 -1h-6l-2 -5h-6v6.5" />
                        <path d="M18 5h-1a1 1 0 0 0 -1 1v4" /></svg>
                  
                </span>
                <span class="nav-link-title">
                    Maquinas
                </span>
                </a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rodales-index' %}" >
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-treemap" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                        <path d="M12 4v16" /><path d="M4 15h8" />
                        <path d="M12 12h8" /><path d="M16 12v8" />
                        <path d="M16 16h4" /></svg>
                  
                </span>
              
                    <div >
                        Rodales
                       
                    </div>
                    <div >
                        <span class="badge badge-sm bg-green-lt text-uppercase ms-auto" style="transform: unset !important;top: 0.5rem;">{{ rodales_count }}</span>
                    </div>

               
                </a>
              
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'catastros-index' %}" >
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  
                        viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  
                        stroke-linecap="round"  stroke-linejoin="round"  
                        class="icon icon-tabler icons-tabler-outline icon-tabler-box-padding">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                        <path d="M8 16v.01" /><path d="M8 12v.01" /><path d="M8 8v.01" /><path d="M16 16v.01" />
                        <path d="M16 12v.01" /><path d="M16 8v.01" /><path d="M12 8v.01" /><path d="M12 16v.01" /></svg>
                  
                </span>
              
                    <div >
                        Catastros
                       
                    </div>
                   

               
                </a>
              
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                    </span>
                    <span class="nav-link-title">
                        Inventarios
                    </span>
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-menu-columns">
                        <div class="dropdown-menu-column">
                            <a class="dropdown-item" href="{% url 'inventarios-relevamientos-index' %}">
                            
                                <span class="nav-link-title">
                                    Relevamientos
                                </span>
                            </a>

                            <a class="dropdown-item" href="{% url 'usos-rodales-index' %}">
                            
                                <span class="nav-link-title">
                                    Rel. por Rodales
                                </span>
                            </a>

                        </div>
                    </div>
                </div>
    
            </li>

            {% if user.role == 'AG' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false" >
                        <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                        </span>
                        <span class="nav-link-title">
                            Configuración
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="{% url 'usos-rodales-index' %}">
                                
                                    <span class="nav-link-title">
                                        Usos Rodales
                                    </span>
                                </a>

                                <div class="dropend">
                                    <a class="dropdown-item dropdown-toggle" href="#sidebar-cards" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false" >
                                    Categorias
                                
                                    </a>
                                    <div class="dropdown-menu">
                                    <a href="{% url 'intervenciones-types-index' %}" class="dropdown-item">
                                        Intervenciones
                                        <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">{{ intervenciones_count }}</span>
                                    </a>
                                    <a href="{% url 'inventarios-types-index' %}" class="dropdown-item">
                                        Inventarios
                                        <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">{{ inventarios_count }}</span>
                                    </a>
                                
                                    </div>
                                </div>

                                <div class="dropend">
                                    <a class="dropdown-item dropdown-toggle" href="#sidebar-cards" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false" >
                                        Materiales
                                
                                    </a>
                                    <div class="dropdown-menu">
                                    <a href="{% url 'index-materiales' %}" class="dropdown-item">
                                        Lista de Materiales
                                        <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">{{ intervenciones_count }}</span>
                                    </a>
                                    <a href="{% url 'index-categorias-materiales' %}" class="dropdown-item">
                                        Categorías
                                        <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">{{ inventarios_count }}</span>
                                    </a>

                                    <a href="{% url 'index-subcategorias-materiales' %}" class="dropdown-item">
                                        Sub Categorías
                                        <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">{{ inventarios_count }}</span>
                                    </a>
                                
                                    </div>
                                </div>

                                <div class="dropend">
                                    <a class="dropdown-item dropdown-toggle" href="#sidebar-cards" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false" >
                                    Mapa
                                
                                    </a>
                                    <div class="dropdown-menu">
                                    <a href="{% url 'map-config-index' %}" class="dropdown-item">
                                        Configuración General
                                        
                                    </a>
                                    <a href="{% url 'inventarios-types-index' %}" class="dropdown-item">
                                        Categorías de Capas
                                        
                                    </a>

                                
                                    </div>
                                </div>


                                <div class="dropend">
                                    <a class="dropdown-item dropdown-toggle" href="#sidebar-cards" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false" >
                                    Inventarios
                                
                                    </a>
                                    <div class="dropdown-menu">
                                    <a href="{% url 'inventarios-categories-index' %}" class="dropdown-item">
                                        Categorias
                                        
                                    </a>
                                    <a href="{% url 'inventarios-observaciones-index' %}" class="dropdown-item">
                                        Observaciones
                                        
                                    </a>

                                    <a href="{% url 'inventarios-damages-index' %}" class="dropdown-item">
                                        Daños
                                        
                                    </a>

                                
                                    </div>
                                </div>

                                
                            
                            </div>
                        </div>
                    </div>
        
                </li>

            {% endif %}
            </ul>
        </div>
        </div>
    </aside>

{% endblock  %}

