<!doctype html>

{% extends "../layout/base.html" %}

{% load static %}


{% block sidebar %}

{% include "../element/sidebar.html" %}

{% endblock %}

{% block content %}

  {% block header %}

  {% include "../element/header.html" %}

  {% endblock %}

  <div class="page-wrapper">
    {% block pageheader %}
        {% include "../element/pageheader.html" %}
    {% endblock pageheader %}

    {% block main_content %}

    <div class="page-body">
                
        <div class="container-xl">
          
            {% if messages %}

            {% include "../element/alert-sucess.html" %}
            {% endif %}

            <div class="row row-cards mb-5">

              <div class="col-xxl-3 col-lg-6 col-md-7 col-sm-12">
                    <div class="card bg-primary-lt">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="d-flex justify-content-center col-xxl-4 col-lg-4 col-md-4 col-sm-12">
                              <svg xmlns="http://www.w3.org/2000/svg" 
                              class="xxl-svg-icon lg-svg-icon md-svg-icon sm-svg-icon"
                              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                <path d="M9 7l1 0"></path>
                                <path d="M9 13l6 0"></path>
                                <path d="M13 17l2 0"></path>
                             </svg>
                            
                    
                            </div>
                            <div class="col-xxl-8 col-lg-8 col-md-8 col-sm-12">
                                <h3 class="card-title text-center">Sección de Administración de Sagpyas</h3>
                                <p class="text-muted">En esta sección puede realizar las ediciones de la información de las Sagpyas</p>
                             
                            </div>
                        </div>

                        
                        </div>
                    </div>
                  </div>
            </div>

          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-end mb-3">
                  <a href="{% url 'sagpyas-add' %}" class="btn btn-success" aria-label="Button">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M5 12l14 0"></path>
                 </svg> Nuevo</a>
              </div>
              <div id="" class="table-responsive">
                <table id="tabladata" class="table table-bordered table-hover dataTable sm-table-text">
                  <thead>
                    <tr>
                      <th class="dt-center align-middle"></th>
                      <th class="dt-center align-middle">Operaciones</th>
                      <th class="dt-center align-middle">Fecha</th>
                      <th class="dt-center align-middle">Superficie Aprobada</th>
                      <th class="dt-center align-middle">Expediente </th>
                      <th class="dt-center align-middle">NETAD</th>
                      <th class="dt-center align-middle">N° de Res. Pago</th>
                      <th class="dt-center align-middle">Fecha de Registro</th>
                    
                      <th class="dt-center align-middle">Acciones</th>
   
                    </tr>
                  </thead>
                  <tbody class="table-tbody">
                    {% for sagpya in sagpyas %}
                        <tr>
                          
                            <td class="dt-center align-middle"> 
                              <div class="mr-3">
                                <a href="{% url 'sagpyas-view' id=sagpya.pk %}" class="btn btn-twitter btn-icon" aria-label="Button" attr="{{sagpya.pk}}">
                                   
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                    <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                                 </svg>
                                </a>
                            </div>
                            </td>
                            <td class="dt-center align-middle"> {{ sagpya.operaciones }}</td>
                            <td class="dt-center align-middle">{{ sagpya.fecha }}</td>
                            <td class="dt-center align-middle">{{ sagpya.sup_aprobada | floatformat:2 }}</td>
                            <td class="dt-center align-middle">
                              
                              <a href="{% url 'movimientos-view' idsagpya=sagpya.pk %}" class="hover-pindo">
                                {{ sagpya.expediente }}
                              </a>
                              
                             
                            <td class="dt-center align-middle">

                              {% if sagpya.expedientes != None  %}

                              {{ sagpya.expedientes.name }}
                             
                              {% endif %}

                             
                  
                              </td>
                              <td class="dt-center align-middle">{{ sagpya.resolucion }}</td>
                            <td class="dt-center align-middle">{{ sagpya.created }}</td>
                       
                            <td>
                                <div class="d-flex justify-content-center">
                                  
                                    <div class="mr-3">
                                        <a href="{% url 'sagpyas-edit' id=sagpya.pk %}" class="btn btn-rss btn-icon" aria-label="Button" attr="{{sagpya.pk}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                                <path d="M16 5l3 3"></path>
                                             </svg>
                                        </a>
                                    </div>
                                    {% if user.role == 'AG' %}
                                    <div>
                                        <a href="#" onclick="deleteInformation(this)" attr="{{sagpya.pk}}" class="btn btn-youtube btn-icon" controller="sagpyas">
                                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 7l16 0"></path>
                                            <path d="M10 11l0 6"></path>
                                            <path d="M14 11l0 6"></path>
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                         </svg>
                                        </a>
                                    </div>
                                    {% endif %}
                                  </div>
                                
                            </td>
                            
                        </tr>
                    
                    {% endfor %}


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    {% endblock main_content %}

    <script>
        $(function () {
            $('#tabladata').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": false,
                "pageLength": 10,
                order: [[2, 'desc']],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
                }
            });
    
        })
    </script>
    
  </div>

{% endblock  %}