

.markdown>table>:not(caption)>*>*, .table>:not(caption)>*>* {
    padding: 0.0rem 0rem !important;
    background-color: var(--tblr-table-bg);
    border-bottom-width: var(--tblr-border-width);
    box-shadow: inset 0 0 0 9999px var(--tblr-table-accent-bg);
}